﻿@{
    ViewBag.Title = "Email Verification";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<br />
<br />
<br />
<div class="text-center">
    <strong style="color: red;">@ViewBag.message</strong>
</div>
<div class="main-login main-center">
    <form class="form-horizontal" method="post" action="@Url.Action("PostEmailVerification", "Auth")">
        <div class="form-group">
            <label for="username" class="cols-sm-2 control-label">Email <span class="text-danger">*</span></label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input type="email" class="form-control input-sm" name="Email" id="username" placeholder="Enter your Email" required />
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-sm login-button btn">Submit <span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
    </form>
</div>
<script type="text/javascript">

    var elmt0 = document.getElementById('username');
    elmt0.addEventListener('keydown', function (event) {
        if (elmt0.value.length === 0 && event.which === 32) {
            event.preventDefault();
        }
    });

</script>