﻿@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<br />
<div class="text-center">
    <strong style="color: red;">@ViewBag.message</strong>
</div>
<div class="main-login main-center">
    <form class="form-horizontal" method="post" action="@Url.Action("ResetPassword", "Auth")">
        <input type="hidden" name="Email" value=@ViewBag.Email>
        <div class="form-group">
            <label for="username" class="cols-sm-2 control-label">New Password <span class="text-danger">*</span></label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                    <input type="password" class="form-control input-sm" name="Password" id="password" placeholder="Enter your new Password" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="cols-sm-2 control-label">Confirm New Password <span class="text-danger">*</span></label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                    <input type="password" class="form-control input-sm" name="ConfirmPassword" id="cpassword" placeholder="Confirm your new Password" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-sm login-button btn">Submit <span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
    </form>
</div>


<script type="text/javascript">

    var elmt0 = document.getElementById('password');
    elmt0.addEventListener('keydown', function (event) {
        if (elmt0.value.length === 0 && event.which === 32) {
            event.preventDefault();
        }
    });


    var elmt3 = document.getElementById('cpassword');
    elmt3.addEventListener('keydown', function (event) {
        if (elmt3.value.length === 0 && event.which === 32) {
            event.preventDefault();
        }
    });

</script>