﻿
@{
    ViewBag.Title = "Add Conversion";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <strong>Add Conversion</strong>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Conversion</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" method="post" action="@Url.Action("SaveConversion", "Admin")">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Currency From</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="CurrencyFrom" value="Mexican Peso" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Currency To</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="CurrencyTo" value="US Dollar" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Rate</label>
                            <div class="col-sm-10">
                                <input type="number" step="any" class="form-control" name="Amount" placeholder="Rate" required>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
</section>
<!-- /.content -->


