﻿
@{
    ViewBag.Title = "AddStore";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <strong>Add Store</strong> 
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Store</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" method="post" action="@Url.Action("SaveStore", "Admin")">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Name" placeholder="Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Region</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Region" id="inputEmail3" placeholder="Region" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Country</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Country" placeholder="Country" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Owner Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="OwnerName" placeholder="Owner Name">
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-info pull-right">Submit</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
    </section>
    <!-- /.content -->
