﻿
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model E_MoneyExpress.Models.User
@using E_MoneyExpress.Models

    <section class="content-header">
        <h1><strong>
    Edit User
</strong></h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit User</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" method="post" action="@Url.Action("UpdateUser", "Admin")">
                        <input type="hidden" name="Id" value="@Model.Id">
                        <input type="hidden" value="@Model.IsActive" name="IsActive">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Username" value="@Model.Username" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="FirstName" id="inputEmail3" value="@Model.FirstName" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="LastName" value="@Model.LastName" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Phone Number</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Phone" value="@Model.Phone" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail3" name="Email" value="@Model.Email" required>
                                </div>
                            </div>
                           
                             
                                    <input type="hidden" name="Password" value="@Model.Password" >
                               
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Role</label>
                                <div class="col-sm-10">
                                   @if (Model.Role == 0)
                                   {
                                    <input type="radio"  name="Role" value=0 checked><label>Teller</label><br />
                                    <input type="radio"  name="Role" value=1><label>Manager</label>
                                   }
                                   else
                                   {
                                    <input type="radio"  name="Role" value=0 ><label>Teller</label><br />
                                    <input type = "radio"  name="Role" value=1 checked><label>Manager</label>
                                    }                                   
                                  
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-info pull-right">Update</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
    </section>
    <!-- /.content -->
