﻿
@{
    ViewBag.Title = "EditFitCoin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model E_MoneyExpress.Models.FitCoin
@using E_MoneyExpress.Models

<section class="content-header">
    <h1>
        <strong>
            Edit Fit & Coin
        </strong>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit Fit & Coin</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" method="post" action="@Url.Action("UpdateFitCoin", "Admin")">
                    <input type="hidden" value="@Model.Id" name="Id">
                    <input type="hidden" value="@Model.IsActive" name="IsActive">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Value</label>
                            <div class="col-sm-10">
                                <input type="number" step="any" class="form-control" name="Value" value="@Model.Value" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-10">
                                @if (@Model.IsCoin == 1)
                                {
                                    <input type="radio" name="IsCoin" value=1 checked /> <label>Coin</label> <br />
                                    <input type = "radio" name = "IsCoin" value = 0 /> <label>Fit</label>
                                }
                                else
                                {
                                    <input type="radio" name="IsCoin" value=1 /> <label>Coin</label> <br />
                                     <input type = "radio" name = "IsCoin" value = 0 checked /> <label>Fit</label>
                                }
                                 
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">Update</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
</section>
<!-- /.content -->


