﻿
@{
    ViewBag.Title = "EditStore";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model E_MoneyExpress.Models.Store
@using E_MoneyExpress.Models

    <section class="content-header">
        <h1><strong>
    Edit Store
</strong></h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Store</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" method="post" action="@Url.Action("UpdateStore", "Admin")">
                        <input type="hidden" value="@Model.Id" name="Id">
                        <input type="hidden" value="@Model.IsActive" name="IsActive">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Name" value="@Model.Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Region</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Region" id="inputEmail3" value="@Model.Region" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Country</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Country" value="@Model.Country" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Owner Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="OwnerName" value="@Model.OwnerName">
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-info pull-right">Update</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
    </section>
    <!-- /.content -->