﻿
@{
    ViewBag.Title = "EditTransaction";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<E_MoneyExpress.Models.Customer>
@using E_MoneyExpress.Models
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <strong>Edit Transaction</strong>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit Transaction</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" method="post" action="@Url.Action("UpdateTransaction", "Admin")">
                    <input type="hidden" name="Id" value="@ViewBag.transaction.Id" />
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Date</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" name="Date" value='@ViewBag.transaction.Date.ToString("yyyy-MM-dd")' required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Reference Number</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="ReferenceNumber" value='@ViewBag.transaction.ReferenceNumber' required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Company Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="CompanyName" value='@ViewBag.transaction.CompanyName' required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Customer Id</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="Customer_Id">
                                    @foreach (Customer c in Model.ToList())
                                    {
                                        <option value="@c.Id">@c.FirstName+' '+@c.LastName1</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="Type" value='@ViewBag.transaction.Type' required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Amount</label>
                            <div class="col-sm-10">
                                <input type="number" step="any" class="form-control" name="Amount" value='@ViewBag.transaction.Amount' required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Fee</label>
                            <div class="col-sm-10">
                                <input type="number" step="any" class="form-control" name="Fee" value='@ViewBag.transaction.Fee' required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Tax</label>
                            <div class="col-sm-10">
                                <input type="number" step="any" class="form-control" name="Tax" value='@ViewBag.transaction.Tax' required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Opennining Id</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" name="Opennining_Id" value='@ViewBag.transaction.Openning_Id' required>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>
<!-- /.content -->


