﻿
@{
    ViewBag.Title = "EditItem";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model E_MoneyExpress.Models.Item
@using E_MoneyExpress.Models

<section class="content-header">
    <h1><strong>
    Edit Item
</strong></h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit Store</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" method="post" action="@Url.Action("UpdateItem", "Admin")">
                    <input type="hidden" value="@Model.Id" name="Id">
                    <input type="hidden" value="@Model.IsActive" name="IsActive">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="Name" value="@Model.Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-10">
                                @if (@Model.Type == "Income Item")
                                {
                                    <input type="radio" name="Type" value="Income Item" checked /><label>Income Item</label> <br />
                                    <input type="radio" name="Type" value="Existing Item" /><label>Existing Item</label>
                                }
                                else
                                {
                                    <input type="radio" name="Type" value="Income Item" /><label>Income Item</label> <br />
                                    <input type="radio" name="Type" value="Existing Item" checked /><label>Existing Item</label>
                                }                            
                            </div>
                        </div>                       
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">Update</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
</section>
<!-- /.content -->

