﻿
@{
    ViewBag.Title = "ListTransactions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<E_MoneyExpress.Models.Transaction>
@using E_MoneyExpress.Models

    <section class="content-header">
        <h1><strong>
    List Transactions
</strong></h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Reference Number</th>
                                    <th>Company Name</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Fee</th>
                                    <th>Tax</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Transaction transaction in Model.ToList())
                                {
                                    <tr>
                                        <td>@transaction.Date</td>
                                        <td>@transaction.ReferenceNumber</td>
                                        <td>@transaction.CompanyName</td>
                                        <td>@transaction.Type</td>
                                        <td>@transaction.Amount</td>
                                        <td>@transaction.Fee</td>
                                        <td>@transaction.Tax</td>
                                        @*<td>
                                            @if (transaction.IsActive == 1)
                                            {
                                                <a class="btn btn-danger" onclick="DeleteStore('@transaction.Id')" data-toggle="modal" data-target="#deleteModal">Block Customer</a>

                                            }
                                            else
                                            {
                                                <a class="btn btn-success" onclick="DeleteStore('@transaction.Id')" data-toggle="modal" data-target="#deleteModal">Unblock Customer</a>
                                            }
                                        </td>*@
                                        <td>
                                            <a href="@Url.Action("AddTransaction", "Admin", new { Id = transaction.Id })"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
  