﻿
@{
    ViewBag.Title = "ListCustomers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<E_MoneyExpress.Models.Customer>
@using E_MoneyExpress.Models


<section class="content-header">
    <h1>
        <strong>
            List Customers
        </strong>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name 1</th>
                                <th>Last Name 2</th>
                                <th>Date of Birth</th>
                                <th>Social Security Number</th>
                                <th>ID Number</th>
                                <th>Expiry Date</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>State</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Customer customer in Model.ToList())
                            {
                                <tr>
                                    <td>@customer.FirstName</td>
                                    <td>@customer.LastName1</td>
                                    <td>@customer.LastName2</td>
                                    <td>@customer.DOB</td>
                                    <td>@customer.SocialSecurityNumber</td>
                                    <td>@customer.IdNumber</td>
                                    <td>@customer.ExpiryDate</td>
                                    <td>@customer.Phone</td>
                                    <td>@customer.Address</td>
                                    <td>@customer.State</td>
                                    <td>
                                        @if (customer.IsActive == 1)
                                        {
                                            <a class="btn btn-danger" onclick="DeleteStore('@customer.Id')" data-toggle="modal" data-target="#deleteModal">Block Customer</a>

                                        }
                                        else
                                        {
                                            <a class="btn btn-success" onclick="DeleteStore('@customer.Id')" data-toggle="modal" data-target="#deleteModal">Unblock Customer</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<!-- Delete Payment Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="exampleModalLabel"><strong>Warning</strong></h3>
            </div>
            <div class="modal-body">
                <h4>You are going to change the status of this customer</h4>
            </div>
            <div class="modal-footer">
                <form class="form-horizontal form-label-left" method="post" action="@Url.Action("ToggleCustomer", "Admin")">
                    <input type="hidden" name="Id" id="DeleteStoreId" />
                    <button type="submit" class="btn btn-primary">YES</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of Delete Payment Modal -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">

    function DeleteStore(Id) {

        $('#DeleteStoreId').val(Id);
    }

</script>


