﻿
@{
    ViewBag.Title = "ListItems";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<E_MoneyExpress.Models.Item>
@using E_MoneyExpress.Models


<section class="content-header">
    <h1><strong>
    List Items
</strong></h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>                                
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Item i in Model.ToList())
                            {
                                <tr>
                                    <td>@i.Name</td>
                                    <td>@i.Type</td>
                                    <td>
                                        @if (i.IsActive == 1 && i.Name != "Sell Mexican Currency" && i.Name != "Buy Mexican Currency")
                                        {
                                            <a class="btn btn-primary" href="@Url.Action("EditItem", "Admin", new { Id= i.Id })"><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-danger" onclick="DeleteStore('@i.Id')" data-toggle="modal" data-target="#deleteModal">Block Item</a>

                                        }
                                        else if(i.IsActive == 0 && i.Name != "Sell Mexican Currency" && i.Name != "Buy Mexican Currency")
                                        {
                                            <a class="btn btn-success" onclick="DeleteStore('@i.Id')" data-toggle="modal" data-target="#deleteModal">Unblock Item</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<!-- Delete Payment Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="exampleModalLabel"><strong>Warning</strong></h3>
            </div>
            <div class="modal-body">
                <h4>You are going to change the status of this item</h4>
            </div>
            <div class="modal-footer">
                <form class="form-horizontal form-label-left" method="post" action="@Url.Action("ToggleItem", "Admin")">
                    <input type="hidden" name="Id" id="DeleteStoreId" />
                    <button type="submit" class="btn btn-primary">YES</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of Delete Payment Modal -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">

    function DeleteStore(Id) {

        $('#DeleteStoreId').val(Id);
    }

</script>




