﻿
@{
    ViewBag.Title = "ListStores";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<E_MoneyExpress.Models.Store>
@using E_MoneyExpress.Models

    <section class="content-header">
        <h1><strong>
    List Stores
</strong></h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Region</th>
                                    <th>Country</th>
                                    <th>Owner Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Store store in Model.ToList())
                                {
                                    <tr>
                                        <td>@store.Name</td>
                                        <td>@store.Region</td>
                                        <td>@store.Country</td>
                                        <td>@store.OwnerName</td>
                                        <td>
                                           
                                                <a class="btn btn-primary" href="@Url.Action("EditStore", "Admin", new { Id = store.Id })"><i class="fa fa-edit"></i></a>
                                            @if (store.IsActive == 1)
                                            {
                                                <a class="btn btn-danger" onclick="DeleteStore('@store.Id')" data-toggle="modal" data-target="#deleteModal">Block Store</a>

                                            }
                                            else
                                            {
                                                <a class="btn btn-success" onclick="DeleteStore('@store.Id')" data-toggle="modal" data-target="#deleteModal">Unblock Store</a>

                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>


<!-- Delete Payment Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="exampleModalLabel"><strong>Warning</strong></h3>
            </div>
            <div class="modal-body">
                <h4>You are going to change the status of this store</h4>
            </div>
            <div class="modal-footer">
                <form class="form-horizontal form-label-left" method="post" action="@Url.Action("ToggleStore", "Admin")">
                    <input type="hidden" name="Id" id="DeleteStoreId" />

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                    <button type="submit" class="btn btn-primary">YES</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of Delete Payment Modal -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">

    function DeleteStore(Id) {

        $('#DeleteStoreId').val(Id);
    }

</script>
