﻿
@{
    ViewBag.Title = "ListFitCoins";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<E_MoneyExpress.Models.FitCoin>
@using E_MoneyExpress.Models



<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <strong>List Fits & Coins</strong>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <h3>Fits</h3>
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Value</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (FitCoin fit in Model.ToList())
                            {
                                <tr>
                                    <td>@fit.Value</td>                                    
                                    <td>
                                        <a class="btn btn-primary" href="@Url.Action("EditFitCoin", "Admin", new { Id = fit.Id})"><i class="fa fa-edit"></i></a>
                                        @if (fit.IsActive == 1)
                                        {
                                            <a class="btn btn-danger" onclick="DeleteTeller('@fit.Id')" data-toggle="modal" data-target="#deleteModal"><strong>Block Fit</strong></a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-success" onclick="DeleteTeller('@fit.Id')" data-toggle="modal" data-target="#deleteModal"><strong>Unblock Fit</strong></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <br />

            <div class="box">
                <h3>Coins</h3>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Value</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (FitCoin coin in ViewBag.coins)
                            {
                                <tr>
                                    <td>@coin.Value</td>
                                    <td>
                                        <a class="btn btn-primary" href="@Url.Action("EditFitCoin", "Admin", new { Id = coin.Id})"><i class="fa fa-edit"></i></a>
                                        @if (coin.IsActive == 1)
                                        {
                                            <a class="btn btn-danger" onclick="DeleteTeller('@coin.Id')" data-toggle="modal" data-target="#deleteModal"><strong>Block Coin</strong></a>
                                            
                                        }
                                        else
                                        {
                                            <a class="btn btn-success" onclick="DeleteTeller('@coin.Id')" data-toggle="modal" data-target="#deleteModal"><strong>Unblock Coin</strong></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- Delete Payment Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="exampleModalLabel"><strong>Warning</strong></h3>
            </div>
            <div class="modal-body">
                <h4>You are going to change the status of this item</h4>
            </div>
            <div class="modal-footer">
                <form class="form-horizontal form-label-left" method="post" action="@Url.Action("ToggleFitCoin", "Admin")">
                    <input type="hidden" name="Id" id="DeleteTellerId" />

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                    <button type="submit" class="btn btn-primary">YES</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of Delete Payment Modal -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">

    function DeleteTeller(Id) {

        $('#DeleteTellerId').val(Id);
    }
</script>

