﻿
@{
    ViewBag.Title = "ListTellers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<E_MoneyExpress.Models.User>
@using E_MoneyExpress.Models


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <strong>List Users</strong> 
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <h3>Managers</h3>
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Role</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Store</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (User manager in ViewBag.managers)
                            {
                                <tr>
                                    <td>@manager.Username</td>
                                    <td>@manager.FirstName</td>
                                    <td>@manager.LastName</td>
                                    @if (manager.Role == 1)
                                    {
                                        <td>Manager</td>
                                    }
                                    else
                                    {
                                        <td>Admin</td>
                                    }
                                    <td>@manager.Email</td>
                                    <td>@manager.Phone</td>
                                    @if (manager.Store_User.Count() == 0)
                                    {

                                        <td>Not Assigned To Store</td>
                                    }
                                    else
                                    {
                                        <td>@manager.Store_User.First().Store.Name</td>
                                    }
                                    <td>
                                        <a class="btn btn-primary" href="@Url.Action("EditUser", "Admin", new { Id = manager.Id})"><i class="fa fa-edit"></i></a>
                                        @if (manager.IsActive == 1)
                                        {
                                            <a class="btn btn-danger" onclick="DeleteTeller('@manager.Id')" data-toggle="modal" data-target="#deleteModal"><strong>Block User</strong></a>
                                            if (manager.Store_User.Count() > 0)
                                            {
                                            <a class="btn btn-success" onclick="AddStore('@manager.Id')" data-toggle="modal" data-target="#storeModal"><strong>Change Store</strong></a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-success" onclick="AddStore('@manager.Id')" data-toggle="modal" data-target="#storeModal"><strong>Assign A Store</strong></a>

                                            }
                                        }
                                        else
                                        {
                                            <a class="btn btn-success" onclick="DeleteTeller('@manager.Id')" data-toggle="modal" data-target="#deleteModal"><strong>Unblock User</strong></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <br />

            <div class="box">
                <h3>Tellers</h3>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Role</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Store</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (User teller in Model.ToList())
                            {
                                <tr>
                                    <td>@teller.Username</td>
                                    <td>@teller.FirstName</td>
                                    <td>@teller.LastName</td>
                                    @if (teller.Role == 0)
                                    {
                                        <td>Teller</td>
                                    }
                                    else
                                    {
                                        <td>Admin</td>
                                    }
                                    <td>@teller.Email</td>
                                    <td>@teller.Phone</td>
                                    @if (teller.Store_User.Count() == 0)
                                    {

                                        <td>Not Assigned To Store</td>
                                    }
                                    else
                                    {
                                        <td>@teller.Store_User.First().Store.Name</td>
                                    }
                                    <td>
                                        <a class="btn btn-primary" href="@Url.Action("EditUser", "Admin", new { Id = teller.Id})"><i class="fa fa-edit"></i></a>
                                        @if (teller.IsActive == 1)
                                        {
                                            <a class="btn btn-danger" onclick="DeleteTeller('@teller.Id')" data-toggle="modal" data-target="#deleteModal"><strong>Block User</strong></a>
                                            if (teller.Store_User.Count() > 0)
                                            {
                                                <a class="btn btn-success" onclick="AddStore('@teller.Id')" data-toggle="modal" data-target="#storeModal"><strong>Change Store</strong></a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-success" onclick="AddStore('@teller.Id')" data-toggle="modal" data-target="#storeModal"><strong>Assign A Store</strong></a>

                                            }
                                        }
                                        else
                                        {
                                            <a class="btn btn-success" onclick="DeleteTeller('@teller.Id')" data-toggle="modal" data-target="#deleteModal"><strong>Unblock User</strong></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<!-- Delete Payment Modal -->
<div class="modal fade" id="storeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="exampleModalLabel"><strong>Assign Store</strong></h3>
            </div>
            <form class="form-horizontal form-label-left" method="post" action="@Url.Action("SaveStoreUser", "Admin")">
                <div class="modal-body">
                    <input type="hidden" name="User_Id" id="UserId" />

                    <select class="form-control" name="Store_Id" required>
                        <option value="">Choose One....</option>
                        @foreach (Store store in ViewBag.stores)
                        {
                          
                            <option value="@store.Id">@store.Name</option>
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- End of Delete Payment Modal -->
<!-- Delete Payment Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="exampleModalLabel"><strong>Warning</strong></h3>
            </div>
            <div class="modal-body">
                <h4>You are going to change the status of this user</h4>
            </div>
            <div class="modal-footer">
                <form class="form-horizontal form-label-left" method="post" action="@Url.Action("ToggleUser", "Admin")">
                    <input type="hidden" name="Id" id="DeleteTellerId" />

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                    <button type="submit" class="btn btn-primary">YES</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of Delete Payment Modal -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">

    function DeleteTeller(Id) {

        $('#DeleteTellerId').val(Id);
    }

    function AddStore(Id) {

        $('#UserId').val(Id);
    }
</script>
