﻿
@{
    ViewBag.Title = "ListTellers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<E_MoneyExpress.Models.Teller>
@using E_MoneyExpress.Models

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            List Tellers
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Store</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Teller teller in Model.ToList())
                                {
                                <tr>
                                    <td>@teller.Username</td>
                                    <td>@teller.FirstName</td>
                                    <td>@teller.LastName</td>
                                    <td>@teller.Email</td>
                                    <td>@teller.Phone</td>
                                    @if(teller.Store_Teller.Count() == 0)
                                    { 
                                    
                                    <td>Not Assigned To Store</td>
                                    }
                                    else
                                    {
                                        <td>@teller.Store_Teller.First().Store.Name</td>
                                    }
                                    <td>
                                        <a class="btn btn-primary" href="@Url.Action("EditTeller", "Admin", new { Id = teller.Id})"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-danger" onclick="DeleteTeller('@teller.Id')" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash"></i></a>
                                        <a class="btn btn-success" onclick="AddStore('@teller.Id')" data-toggle="modal" data-target="#storeModal"><strong>Assign A Store</strong></a>
                                    </td>
                                </tr>                              
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


<!-- Delete Payment Modal -->
<div class="modal fade" id="storeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"><strong>Assign Store</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-left" method="post" action="@Url.Action("SaveStoreTeller", "Admin")">
                    <input type="hidden" name="Teller_Id" id="AddStoreId" />

                    <select class="form-control" name="Store_Id" required>
                        <option value="">Choose One....</option>
                        @foreach(Store store in ViewBag.stores)
                        {
                            <option value="@store.Id">@store.Name</option>
                        }
                    </select>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of Delete Payment Modal -->


<!-- Delete Payment Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Warning</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3> Are you sure you want to delete this teller? </h3>
            </div>
            <div class="modal-footer">
                <form class="form-horizontal form-label-left" method="post" action="@Url.Action("DeleteTeller", "Admin")">
                    <input type="hidden" name="Id" id="DeleteTellerId" />

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                    <button type="submit" class="btn btn-primary">YES</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of Delete Payment Modal -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">

    function DeleteTeller(Id) {

        $('#DeleteTellerId').val(Id);
    }

    function AddStore(Id) {

        $('#AddStoreId').val(Id);
    }
</script>
