﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Panel</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/bower_components/Ionicons/css/ionicons.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/Content/bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        .navbar-nav > .user-menu > .dropdown-menu {
            width: 160px !important;
            color: black;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">

            <!-- Logo -->
            <a href="@Url.Action("Dashboard", "Home")" class="logo">
                <img src="~/Content/logo (1).png" height="45" width="150" alt="E-MoneyExpress" />             
                
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> <span class="hidden-xs"> @Session["Username"] </span> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                
                                    <li>
                                        <!-- settings -->
                                        <a href="@Url.Action("MyAccount", "Home")" class="header-text"><i class="fa fa-cogs"></i> <strong>My Account</strong></a>
                                    </li>

                                    <li class="divider"></li>
                                    <li>
                                        <!-- logout -->
                                        <a href="@Url.Action("Logout", "Auth")" class="header-text"><i class="fa fa-power-off"></i> <strong>Logout</strong></a>
                                    </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar"  style="background-color: #343A44 !important;">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="treeview menu-open">
                        <a href="@Url.Action("Index", "Admin")" style="background-color: #343A44 !important;">
                            <i class="fa fa-dashboard"></i> <span><strong>Dashboard</strong></span>
                        </a>
                    </li>              
                    
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span><strong>Users</strong></span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("AddUser", "Admin")"><i class="fa fa-circle-o"></i> Add User</a></li>
                            <li><a href="@Url.Action("ListUsers", "Admin")"><i class="fa fa-circle-o"></i> List Users</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span><strong>Stores</strong></span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("AddStore", "Admin")"><i class="fa fa-circle-o"></i> Add Store</a></li>
                            <li><a href="@Url.Action("ListStores", "Admin")"><i class="fa fa-circle-o"></i> List Store</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span><strong>Customers</strong></span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("ListCustomers", "Admin")"><i class="fa fa-circle-o"></i> List Customer</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-gift"></i>
                            <span><strong>Items</strong></span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("AddItem", "Admin")"><i class="fa fa-circle-o"></i> Add Item</a></li>
                            <li><a href="@Url.Action("ListItems", "Admin")"><i class="fa fa-circle-o"></i> List Items</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-money"></i>
                            <span><strong>Fit & Coins</strong></span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("AddFitCoin", "Admin")"><i class="fa fa-circle-o"></i> Add Fit & Coin</a></li>
                            <li><a href="@Url.Action("ListFitCoins", "Admin")"><i class="fa fa-circle-o"></i> List Fits & Coins</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-money"></i>
                            <span><strong>Transactions</strong></span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("AddTransaction", "Admin")"><i class="fa fa-circle-o"></i> Add Transaction</a></li>
                            <li><a href="@Url.Action("ListTransactions", "Admin")"><i class="fa fa-circle-o"></i> List Transactions</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-money"></i>
                            <span><strong>Conversions</strong></span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("AddConversion", "Admin")"><i class="fa fa-circle-o"></i> Add Conversion</a></li>
                            <li><a href="@Url.Action("ListConversions", "Admin")"><i class="fa fa-circle-o"></i> List Conversions</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper" style="background-color: white !important;">
            @RenderBody()
            </div>

            <footer class="main-footer">
                <p class="text-center">&copy; 2017 E-Money Express. All rights reserved | Powered by <a href="http://www.ubssols.com" target="_blank"><strong>UBS Solutions</strong></a></p>
            </footer>

        </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Content/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap  -->
    <script src="~/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- SlimScroll -->
    <script src="~/Content/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Content/bower_components/Chart.js/Chart.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/dist/js/demo.js"></script>
</body>
</html>
