﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <title>E-Money Express</title>
    <style>
        /*
        /* Created by Filipe Pina
         * Specific styles of signin, register, component
         */
        /*
         * General styles
         */

        body, html {
            height: 100%;
            background-repeat: no-repeat;
            background-color: white;
            font-family: 'Oxygen', sans-serif;
            background: url('../../Content/tail-top.gif') repeat-x scroll left top transparent;
        }

        .main {
            margin-top: 70px;
        }

        h1.title {
            font-size: 50px;
            font-family: 'Passion One', cursive;
            font-weight: 400;
        }

        hr {
            width: 10%;
            color: #fff;
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            margin-bottom: 15px;
        }

        input,
        input::-webkit-input-placeholder {
            font-size: 11px;
            padding-top: 3px;
        }

        .main-login {
            background-color: #E3ECF0;
            /* shadows and rounded borders */
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        }

        .main-center {
            margin-top: 10%;
            margin: 0 auto;
            max-width: 330px;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 20px;
            padding-bottom: 10px;
        }

        .login-button {
            margin-top: 5px;
        }

        .login-register {
            font-size: 11px;
            text-align: center;
        }

        .btn {
            margin-left: 37%;
        }

        .footer {
            margin-top: 10%;
            background-color: #EEF1F3;
            height: 10%;
            width: 100%;
            padding-top: 2%;
            position: absolute;
            bottom: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row main">
            <div class="page-header">
                <img src="~/Content/logo.png" />
            </div>
        </div>
    </div>

    @RenderBody()

    <div class="footer">
        <p class="text-center">© 2013 E-Money Express. All rights reserved | Powered by <a href="http://ubssols.com/">UBS Solutions</a></p>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>