﻿@using E_MoneyExpress.Models
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset=utf-8>
    <title>E-Money Express</title>
    <link rel="stylesheet" href="~/Content/Assets/style.css">
    <link rel="stylesheet" href="~/Content/Assets/admin.css">
    <link rel="stylesheet" href="~/Content/Assets/table.css"/>
    <link rel="stylesheet" href="~/Content/Assets/jquery.noty.css" />
    <link rel="stylesheet" href="~/Content/Assets/noty_theme_default.css" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <script src="~/Content/Assets/jquery-1.7.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Assets/jquery.noty.js"></script>
    <script src="~/Content/Assets/eme.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        footer{
            position:absolute;
        }
        .thead-default {
            background-color: #0099D2;
            color:white;
        }
        #background {
            background-color: #D8E7F9;
            border-radius:5px;
            padding:15px;
        }
        body {
            line-height: normal !important;
            font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
        }
    </style>
</head>
<body>
    <div id="main">
        <div id="container">
            <header>
                <div class="logo">
                    <a href="@Url.Action("Dashboard", "Home")">
                        <img src="~/Content/logo.png"/>
                    </a>
                </div>
                <div id="adminMenu">
                    <div class="welcome">
                        Welcome @Session["Username"] Emoney (@Session["Job"])
                    </div>
                    <ul>
                        <li><a href="@Url.Action("Dashboard", "Home")">Home</a></li>
                        @{
                            SessionDTO sessiondto = (SessionDTO)Session["Session"];

                            if (sessiondto.getopenning_Id() != 0)
                            {
                                <li><a href="@Url.Action("RecentBalances", "Home")">Recent Balances</a></li>
                                <li>
                                    <a href="#">Customer</a>
                                    <ul>
                                        <li><a href="@Url.Action("FindCustomer", "Home")">Find Customer</a></li>
                                        <li><a href="@Url.Action("RecentTransactions", "Home")">Recent Transactions</a></li>
                                        <li><a href="@Url.Action("CustomerReport", "Home")">Customer Report</a></li>
                                    </ul>
                                </li>
                            }

                        }
                        <li><a href="@Url.Action("MyAccount", "Home")">My Account</a></li>
                        <li><a href="@Url.Action("Logout", "Auth")">Logout</a></li>
                    </ul>
                </div>
            </header>
            @RenderBody()
        </div>
        @*<footer class="footer">
            <p>&copy; 2013 E-Money Express. All rights reserved | Powered by <a href="http://ubssols.com/" target="_blank" style="text-decoration: none;"><strong>UBS Solutions</strong></a></p>
        </footer>*@
    </div>
</body>
</html>





