#adminMenu {
    float: right;
    position: relative;
    top: 80px;
	z-index:100;
}
#adminMenu ul {
    font-family: Arial, Verdana;
    font-size: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
}
#adminMenu ul li {
    display: block;
    position: relative;
    float: left;
}
#adminMenu li ul {
    display: none;
}
#adminMenu ul li a {
    display:block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #0099D2;
    margin-left: 2px;
    white-space: nowrap;
}
#adminMenu ul li a:hover {
background: #0178A3;
}
#adminMenu li:hover ul {
    display: block;
    position: absolute;
}
#adminMenu li:hover li {
    float: none;
    font-size: 12px;
}
#adminMenu li:hover a { background: #0178A3; }
#adminMenu li:hover li a:hover {
    background: #0099D2;
}
#adminMenu .welcome {
	text-align:right;
	padding-bottom:5px;
}