header, nav, article, footer, address, section {
}
body {
    color: #000;
    font: 13px 'trebuchet MS', 'Lucida sans', Arial;
    font-weight: bold;
    margin: 0px;
    background: url("../tail-top.gif") repeat-x scroll left top transparent;
}
img {
	border:0px;
}

#container {
	width:950px;
	margin:auto;
}
.logo {
    float: left;
    position: relative;
    top: 5px;
}
header {
	border-bottom: 2px solid #D6DEE3;
	height:130px;
}
section {
	min-height:430px;
}
section a {
	font-weight:bold;
}
#content {
	width:950px;
}
#login-form label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 5px;
}
#login-form {
    margin-left: 30px;
    width: 250px;
	border:1px solid;
	padding:20px;
	left: 30%;
    position: relative;
    margin-top: 10%;
	background-color: #E3ECF0;
    border: 1px solid #D6DEE3;
    border-radius: 8px 8px 8px 8px;
}
footer {
	font-size:11px;
	text-align:center;
	background: none repeat scroll 0 0 #EEF1F3;
	width:100%;
	height:80px;
	padding-top:15px;
	margin-top:20px;
}
a {
    border: 0 none;
    color: #2B699F;
    text-decoration: underline;
}
#login-form h2 {
    height: 15px;
    margin: 0;
    text-align: center;
}
/* notification css - start */
.status {
    border-radius: 10px 10px 10px 10px;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding: 6px 10px 6px;
	margin-top:8px;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.status img {
    float: left;
    padding-right: 5px;
}
.status p {
    margin: 0;
    padding: 0;
}
.status p span {
    font-weight: 700;
}
.status .closestatus {
    color: #FFFFFF;
    float: right;
    margin-left: 10px;
    text-align: center;
}
.status .closestatus a {
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    height: 10px;
    line-height: 0.6em;
    padding: 5px;
    position: relative;
    text-decoration: none;
    text-shadow: none;
    top: -2px;
    width: 10px;
}
.warning {
    background: url("../bg_fade_yellow_med.png") repeat-x scroll center top #FEEB9C;
    border: 2px solid #BF9900;
}
.warning span {
    color: #BF9900;
}
.warning .closestatus a {
    background: none repeat scroll 0 0 #BF9900;
}
.warning .closestatus a:hover {
    background: none repeat scroll 0 0 #9B7C00;
}
.success {
    background: url("../bg_fade_green_med.png") repeat-x scroll center top #CBDA8F;
    border: 2px solid #8EA534;
}
.success span {
    color: #8EA534;
}
.success .closestatus a {
    background: none repeat scroll 0 0 #8EA534;
}
.success .closestatus a:hover {
    background: none repeat scroll 0 0 #829829;
}
.error {
    background: url("../bg_fade_red_med.png") repeat-x scroll center top #F5D0CD;
    border: 2px solid #990000;
}
.error span {
    color: #990000;
}
.error .closestatus a {
    background: none repeat scroll 0 0 #990000;
}
.error .closestatus a:hover {
    background: none repeat scroll 0 0 #730D0D;
}
.info {
    background: url("../bg_fade_blue_med.png") repeat-x scroll center top #92D6ED;
    border: 2px solid #2FADD7;
}
.info span {
    color: #0E7A9F;
}
.info .closestatus a {
    background: none repeat scroll 0 0 #2FADD7;
}
.info .closestatus a:hover {
    background: none repeat scroll 0 0 #228DB0;
}
/* notification css - end */
h2.h2Left {
	float:left;
}
.divLeft {
	float:left;
}
.divRight {
	float:right;
}
.divCenter {
	margin:0px auto;
}
.linkRight {
	float:right;
	margin:15px 10px;
}
.subHeading {
	font-size:14px;
	font-weight:bold;
}
.pContent {
	margin:10px 0px 10px 0px;
}
.watermark {
	color: #999 !important;
}
#myGrid {
	width:100%;
	height:350px;
	border:1px solid #D6DEE3;
}
.searchBar {
    background-color: #D8E7F9;
    border: 1px solid #D6DEE3;
    border-radius: 8px 8px 8px 8px;
	padding: 10px;
}
.formSection{
	width: 900px;
    background-color: #D8E7F9;
    border: 1px solid #D6DEE3;
    border-radius: 8px 8px 8px 8px;
	padding: 10px;
}
.formSection .formLeft{
	width: 300px;
	float: left;
}
.formSection .formRight{
	width: 300px;
	float: right;
}
.formSection .formTinyLeft{
	width: 150px;
	float: left;
}
.formSection p{
	margin-bottom: 0px;
}
input[disabled] {
background-color:white;
}
input[type="text"], input[type="password"], select {
    border: none;
    border: 1px solid #A4A4A4;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 200px;
    padding: 5px;
}
    .formSection #right input[type="text"], .formSection #left input[type="text"] {
        width: 200px;
    }
.formSection textarea {
    position: relative;
    padding: 5px;
    border:1px solid #A4A4A4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 540px;
}
.formSection input[type="text"]:focus, .formSection textarea:focus{
	border:2px solid #58ACFA;
	padding: 4px;
}
.formSection .formReadonlyText {
	font-size :16px;
	padding: 5px 0px 5px 0px;
	font-weight:bold;
}
.formSection h3 {
	margin-bottom:0px;
}
/* CSS3 buttons - start */
.button, .button span {
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.button {
	white-space: nowrap;
	line-height:1em;
	position:relative;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #999;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom:rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
	margin-bottom:10px;
	margin-right:10px;
}
.button.full, .button.full span {
	display: block;
}
.button:hover, .button.hover {
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .2) 0%,
		rgba(255, 255, 255, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .1)),
		to(rgba(255, 255, 255, .2))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}
.button:active, .button.active {
	top:1px;
}
.button span {
	position: relative;
	color:#fff;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
	border-top: rgba(255, 255, 255, .2) 1px solid;
	padding:0.6em 1.3em;
	line-height:1em;
	text-decoration:none;
	text-align:center;
	white-space: nowrap;
}
.button.small span {
	font-size:12px;
}
.button.medium span {
	font-size:14px;
}
.button.large span {
	font-size:18px;
}
.button.black {
	background-color: #333333;
}
.button.gray {
	background-color: #666666;
}
.button.white {
	background-color: #FFFFFF;
}
.button.white span{
	color: #666666;
}
.button.red {
	background-color: #e62727;
}
.button.orange {
	background-color: #ff5c00;
}
.button.magenta {
	background-color: #A9014B;
}
.button.yellow {
	background-color: #ffb515;
}
.button.blue {
	background-color: #00ADEE;
}
.button.pink {
	background-color: #e22092;
}
.button.green {
	background-color: #91bd09;
}
.button.rosy {
	background-color: #F16C7C;
}
.button.brown {
	background-color: #804000;
}
.button.purple {
	background-color: #800080;
}
.button.cyan {
	background-color: #46C7C7;
}
.button.gold {
	background-color: #D4A017;
}
/* CSS3 Buttons - End */
.bottomButton {
	margin-top:15px;
}
.centerButton {
	margin-top:15px;
	text-align:center;
}
.bodyLabel {
	margin-top:15px;
	color: #000;
}
.labelComment {
	font-weight:italic;
}
#imgPreview {
	margin: 2px;
	max-height: 200px;
	max-width: 200px;
	display: block;
    margin-left: auto;
    margin-right: auto;	
}
.loading-indicator {
	height: 80px;
	width: 80px;
	background: url( '../images/loading.gif' );
	background-repeat: no-repeat;
	background-position: center center;
}
.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}
.redColor {
	color:#F00;
}
.column-amount-right {
	text-align:right;
}
.column-content-center {
	text-align:center;
}
.reviewedImg {
	margin-bottom:-3px;
}
.mandatory {
	color:#FF0000;
	padding-left:3px;
	font-size:14px;
}
.custom-dialog-button {
	padding: .4em 1em !important;
}
.pdf-icon {
	border:0px;
	margin-bottom:-5px;
	margin-top: 5px;
}
.redBg {
	background-color: #FE2E2E !important;
	color: #FFF;
}
.yellowBg {
	background-color: #FFBF00 !important;
	color: #000;
}