table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}
#incomeSection {
	float:left;
	width:60%;
	position:relative;
	margin:0px 20px 20px 0px;
}
#coinSection {
	float:right;
	width:35%;
	position:relative;
	margin:0px 0px 20px 20px;
}
.bordered {
	margin-top:15px;
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 6px;
    text-align: left;    
}

.bordered th {
    background-color: #98C1F3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#DCE9F9), to(#98C1F3));
    background-image: -webkit-linear-gradient(top, #DCE9F9, #98C1F3);
    background-image:    -moz-linear-gradient(top, #DCE9F9, #98C1F3);
    background-image:     -ms-linear-gradient(top, #DCE9F9, #98C1F3);
    background-image:      -o-linear-gradient(top, #DCE9F9, #98C1F3);
    background-image:         linear-gradient(top, #DCE9F9, #98C1F3);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
.bordered tr:last-child td {
	font-weight:bold;
	background-color: #C4F2B5;
}
.userInfo {
	padding:10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
    background-color: #C4F2B5;	
}
.userInfo  label{
	font-weight:bold;
	font-size:14px;
}
.userInfo  div{
	margin:3px;
}
#notestd {
	height: 100px;
    background-color: #FFF;	
}
.notesta {
	border:0px solid;
	height: 96px;
    width: 100%;
}
.tdText {
	height:25px !important;
	width: 80px !important;
}
.tdText:not(.balLabelLeft) { 
	height:25px !important;
	float: right;
	text-align: right;
	width: 100px !important;
}
.balLabelLeft {
	width: 200px !important;
}
input.tdText {
	border:1px solid #CCCCCC;
}
#verifyFit {
	float:left;
	width:275px;
	position:relative;
	margin:0px 5px 10px 0px;
}
#verifyCoin {
	float:right;
	width:275px;
	position:relative;
	margin:0px 0px 10px 5px;
}
#fitTable tr td:not(:first-child), #coinTable tr td:not(:first-child), .tdRight {
	text-align:right !important;
}