﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using E_MoneyExpress.Models

<section>
    <link rel="stylesheet" href="~/Content/Assets/table.css">
    <link rel="stylesheet" href="~/Content/Assets/jquery-ui-1.10.2.custom.css">
    <script src="~/Content/Assets/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="~/Content/Assets/jquery.watermark.min.js"></script>
    <script src="~/Content/Assets/jquery.formatCurrency-1.4.0.min.js"></script>

    @if (ViewBag.balancesheet == 0)
    {
        <h2>Dashboard</h2>
        <div class="userInfo" style="padding: 5px;">
            <div>
                <label>Select Date: </label>
                <input type="text" name="bal_date" id="bal_date" style="width:150px;" value="@DateTime.Now.ToString("dd-MM-yyyy")" disabled />
                <label style="margin-left:40px;">Store: </label>
                <input type="text" value="@ViewBag.store.Name" id="store_id" style="width:150px;" disabled>
                <label style="padding-left:40px;">Select Shift: </label>
                @if (ViewBag.Shift == null)
                {
                    <select name="Shift" id="shift_num" style="width:150px;" required>
                        <option value="">-Select-</option>
                        <option value=1>First</option>
                        <option value=2>Second</option>
                    </select>
                }
                else
                {
                    <select name="Shift" id="shift_num" style="width:150px;" disabled required>
                        <option value="">-Select-</option>
                        @if (ViewBag.Shift == 1)
                        {
                            <option value=1 selected>First</option>
                            <option value=2>Second</option>
                        }
                        else
                        {
                            <option value=1>First</option>
                            <option value=2 selected>Second</option>
                        }
                    </select>
                }&nbsp;
                <a class="button small green centerButton" href="@Url.Action("BalanceSheet", "Home", new { Id = ViewBag.openningId })"><span>Enter Balance Sheet</span></a>
            </div>
        </div>
        <div id="beginBalDiv"></div>

    }
    else
    {
        <link rel="stylesheet" href="~/Content/Assets/table.css">
        <script src="~/Content/Assets/jquery.formatCurrency-1.4.0.min.js"></script>
        <style>
            input.tdText {
                font: 13px 'trebuchet MS','Lucida sans',Arial;
            }
        </style>
        <h2>New Balance</h2>
        <div class="userInfo">
            <div>
                @{
                    <label>Date: </label> @ViewBag.openning.DateTime.ToString("dd-MM-yyyy")	<label style="padding-left:20px">Store ID: </label> @ViewBag.store.Name
                    if (ViewBag.openning.Shift == 1)
                    { <label style="padding-left:20px">Shift: First</label>  }
                else
                { <label style="padding-left:20px">Shift: Second</label> }

                    SessionDTO sessiondto = (SessionDTO)Session["Session"];
                    <label style="padding-left:20px">Draft by: @sessiondto.getFirstName() @sessiondto.getLastName() Emoney</label> <label style="padding-left:20px">Last shift ending balance: </label><span class="currencyLabel">@ViewBag.openning.OpeningBalance</span>
                }
            </div>
        </div>

        <div id="err_div">
            <div class="status info" id="inside_err">
                <p> @ViewBag.message</p>
            </div>
        </div>
            <div id="incomeSection">
                <input type="hidden" id="rate" value="@ViewBag.rate" />
                @{
                    <table id="incomeTable" class="bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>INCOME ITEMS</th>
                                <th style="width:120px;">AMOUNT($)</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>1</td>
                            <td>CASH FOR CHECK</td>
                            <td>
                                <input type="text" class="tdText" name="inc_cashforcheck" value="@ViewBag.openning.OpeningBalance.ToString("0.00")" />
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Sell Mexican Currency</td>
                            <td><input type="text" class="tdText" name="inc_cashforcheck" onchange="incomeitem(inc_1);" id="inc_1" value="" /></td>
                        </tr>
                        @{
                            string incomeItemNames = "Sell Mexican Currency,";

                            int count = 3;
                            foreach (Item item in ViewBag.incomeItems)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Name</td>
                                    <td><input type="text" onchange="incomeitem(inc_@(count - 1));" id="inc_@(count - 1)" class="tdText" name="inc_cashforcheck" value="" /></td>
                                </tr>
                                incomeItemNames += item.Name + ',';
                                count++;
                            }

                        }

                        <tr>
                            <td colspan="3" style="text-align:right;"><a href="javascript:void(0);" onclick="addIncRow();">+ Add Income Item</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>TOTAL</td>
                            <td id="incTotalText" class="tdRight currencyLabel"></td>
                        </tr>
                    </table>
                    <input type="hidden" id="incomevalue" />
                    <input type="hidden" id="incomeItemNames" name="incomeItemNames" value="@incomeItemNames" />
                }
                <input type="hidden" name="income_total" id="income_total" value="" />
                @{
                    <table id="existingTable" class="bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>EXISTING ITEMS</th>
                                <th style="width:120px;">AMOUNT($)</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>1</td>
                            <td>Existing Cash</td>
                            <td><input type="text" class="tdText" name="ex_cash" value="" id="existingCash" readonly /></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Buy Mexican Currency</td>
                            <td><input type="text" class="tdText" name="ex_checks" onchange="existitem(ex_1);" id="ex_1" value="@ViewBag.existamount" /></td>
                        </tr>
                        @{
                            string existItemNames = "Buy Mexican Currency,";

                            int count1 = 3;
                            foreach (Item item in ViewBag.existingItems)
                            {

                                <tr>
                                    <td>@count1</td>
                                    <td>@item.Name</td>
                                    <td><input type="text" onchange="existitem(ex_@(count1 - 1));" id="ex_@(count1 - 1)" class="tdText" name="ex_checks" value="" /></td>
                                </tr>
                                existItemNames += item.Name + ',';
                                count1++;
                            }
                        }
                        <tr>
                            <td colspan="3" style="text-align:right;"><a href="javascript:void(0);" onclick="addExRow();">+ Add Existing Item</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>TOTAL</td>
                            <td id="exTotalText" class="tdRight currencyLabel"></td>
                        </tr>
                    </table>

                    <input type="hidden" name="ex_total" id="ex_total" value="" />
                    <input type="hidden" id="existvalue" />
                    <input type="hidden" id="existItemNames" name="existItemNames" value="@existItemNames" />
                }
            </div>
            <div id="coinSection">
                <table id="fitTable" class="bordered">
                    <thead>
                        <tr>
                            <th style="width:120px;">FIT</th>
                            <th>VALUE</th>
                            <th>AMOUNT($)</th>
                        </tr>
                    </thead>
                    @{
                        string fitItemNames = "";
                        int fitcount = 2;
                        foreach (FitCoin fitcoin in ViewBag.fits)
                        {
                            <tr>
                                @if (@fitcoin.QuantityCounts.Where(x => x.Openning_Id == ViewBag.openning.Id).FirstOrDefault().Count == 0)
                                {
                                    <td><input type="text" onchange="fititem(fit_@(fitcount - 1));" id="fit_@(fitcount - 1)" class="tdText" name="CO_10" value="" multi="@fitcoin.Value" /></td>
                                }
                                else
                                {
                                    <td><input type="text" onchange="fititem(fit_@(fitcount - 1));" id="fit_@(fitcount - 1)" class="tdText" name="CO_10" value="@fitcoin.QuantityCounts.Where(x => x.Openning_Id == ViewBag.openning.Id).FirstOrDefault().Count" multi="@fitcoin.Value" /></td>

                                }
                                <td>$@fitcoin.Value.00</td>
                                <td id="fitTd_@fitcoin.Value" class="currencyLabel"></td>
                            </tr>
                            fitItemNames += fitcoin.Value + ".00,";
                            fitcount++;
                        }

                    }
                    <tr>
                        <td>TOTAL</td>
                        <td></td>
                        <td id="fitTotalText" class="tdRight  currencyLabel"></td>
                    </tr>
                </table>
                <input type="hidden" name="fit_total" id="fit_total" value="" />
                <input type="hidden" id="fitvalue" />
                <input type="hidden" id="fitItemNames" name="fitItemNames" value="@fitItemNames" />
                @{
                    <table id="coinTable" class="bordered">
                        <thead>
                            <tr>
                                <th style="width:120px;">COINS</th>
                                <th>VALUE</th>
                                <th>AMOUNT($)</th>
                            </tr>
                        </thead>
                        @{
                            string coinItemNames = "";

                            int coincount = 2;

                            foreach (FitCoin fitcoin in ViewBag.coins)
                            {
                                <tr>
                                    @if (@fitcoin.QuantityCounts.Where(x => x.Openning_Id == ViewBag.openning.Id).FirstOrDefault().Count == 0)
                                    {
                                        <td><input type="text" class="tdText" onchange="cionitem(coin_@(coincount - 1));" id="coin_@(coincount - 1)" name="CO_@fitcoin.Value" value="" multi="@fitcoin.Value" /></td>

                                    }
                                    else
                                    {
                                        <td><input type="text" class="tdText" onchange="cionitem(coin_@(coincount - 1));" id="coin_@(coincount - 1)" name="CO_@fitcoin.Value" value="@fitcoin.QuantityCounts.Where(x => x.Openning_Id == ViewBag.openning.Id).FirstOrDefault().Count" multi="@fitcoin.Value" /></td>

                                    }
                                    @if (fitcoin.Value.ToString().Contains("."))
                                    {
                                        string[] a = fitcoin.Value.ToString().Split('.');
                                        if (a[1].Length >= 2)
                                        {
                                            <td>$@fitcoin.Value</td>
                                            coinItemNames += fitcoin.Value + ",";
                                            coincount++;
                                        }
                                        else
                                        {
                                            string b = fitcoin.Value + "0";
                                            <td>$@b</td>
                                            coinItemNames += b + ',';
                                            coincount++;
                                        }
                                    }
                                    else
                                    {
                                        <td>$@fitcoin.Value.00</td>
                                        coinItemNames += fitcoin.Value + ".00,";
                                        coincount++;
                                    }
                                    @{
                                        string ids = fitcoin.Value.ToString().Replace(".", "");
                                        <td id="coinTd_@ids" class="currencyLabel"></td>
                                    }
                                </tr>

                                        }
                        }
                        <tr>
                            <td>TOTAL</td>
                            <td></td>
                            <td id="coinTotalText" class="tdRight currencyLabel"></td>
                        </tr>
                    </table>
                    <input type="hidden" name="co_total" id="co_total" value="" />
                    <input type="hidden" id="coinvalue" />
                    <input type="hidden" id="coinItemNames" name="coinItemNames" value="@coinItemNames" />
                }
                <table id="nextTellerTable" class="bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th style="width:120px;">AMOUNT($)</th>
                        </tr>
                    </thead>
                    <tr style="display:none;">
                        <td>CASH FOR CHECK</td>
                        <td><span class="tdText currencyLabel" id="nextTellerIncome"></span></td>
                    </tr>
                    <tr style="display:none;">
                        <td>SENDS REPORT</td>
                        <td><span class="tdText currencyLabel" id="nextTellerExisting"></span></td>
                    </tr>
                    <tr>
                        <td>Current Deposit</td>
                        <td id="incTotalText1" class="tdRight currencyLabel"></td>
                    </tr>
                    <tr>
                        <td>Existing Cash</td>
                        <td id="exTotalText1" class="tdRight currencyLabel"></td>
                    </tr>
                    <tr>

                        <td>NET BALANCE</td>
                        <td id="nextTotalText" class="tdRight currencyLabel"></td>
                    </tr>
                </table>
            </div>
            <div style="clear:both;"></div>
            <table class="bordered">
                <thead>
                    <tr>
                        <th>BALANCE NOTES</th>
                    </tr>
                </thead>
                <tr>
                    <td id="notestd">
                        <textarea id="balancenotes" class="notesta" name="notes"></textarea>
                    </td>
                </tr>
            </table>

            <form action="@Url.Action("SaveBalanceSheet", "Home")" method="post">
                <input type="hidden" name="openningid" value="@ViewBag.openningId" />
                <input type="hidden" id="incomeitemvalue1" name="incomesv" value="" />
                <input type="hidden" id="incomeitemname1" name="incomesn" value="" />
                <input type="hidden" id="existitemvalue1" name="existsv" value="" />
                <input type="hidden" id="existitemname1" name="existsn" value="" />
                <input type="hidden" id="fitname1" name="fitsn" value="" />
                <input type="hidden" id="fitvalue1" name="fitsv" value="" />
                <input type="hidden" id="coinname1" name="coinsn" value="" />
                <input type="hidden" id="coinvalue1" name="coinsv" value="" />

                <a class="button medium green centerButton" href="javascript:void(0);" onclick="getinputofitems();" id="saveButton"><span>Save</span></a>
                <button class="button medium green centerButton" type="submit" id="submitbutton" onclick="showButton();" style="display: none;"><span>Submit</span></button>
            </form>
            <script>
                var b = 0.00;
                var existingrate = 0.00;
                var previousincomlen = 0;
                var previousexlen = 0;
                var incomearr = [];
                var existarr = [];
                var coinarr = ["0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0"];
                var fitarr = ["0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0"];

                $(document).ready(function () {
                    // Income items script
                    var incomes = document.getElementById("incomeItemNames").value;
                    var arr = incomes.split(",")
                    var incomlength = arr.length;
                    previousincomlen = incomlength - 2;
                    incomlength += 13;
                    for (var i = 0; i < incomlength; i++) {
                        incomearr[i] = 0;
                    }

                    // Existing items script
                    var exists = document.getElementById("existItemNames").value;
                    var arr = exists.split(",")
                    var existlength = arr.length;
                    previousexlen = existlength - 1;
                    existlength += 13;
                    for (var i = 0; i < existlength; i++) {
                        existarr[i] = 0;
                    }


                    findFitTotal();
                    findCoinTotal();
                    updateExistingItems();
                    updateCash();
                    findIncomeTotal();
                });

                function incomeitemname(item) {
                    var incomenameid = item.id;
                    var incomenamevalue = document.getElementById(incomenameid).value;
                    incomenameid = incomenameid.replace("incname_", "");

                    var newincomenamelist = document.getElementById("incomeItemNames").value.split(',');
                    var newincomenamelistlength = newincomenamelist.length;

                    if ((newincomenamelistlength - 1) == incomenameid) {
                        document.getElementById("incomeItemNames").value = document.getElementById("incomeItemNames").value + incomenamevalue + ",";
                    }
                    else {
                        newincomenamelist[incomenameid] = incomenamevalue;
                        document.getElementById("incomeItemNames").value = newincomenamelist.toString();

                    }

                }

                function incomeitem(item) {
                    var incomeid = item.id;
                    var incomevalue = document.getElementById(incomeid).value;

                    var rate = document.getElementById("rate").value;

                    incomeid = incomeid.replace("inc_", "");

                    if (incomeid == 1) {
                        var a = parseFloat(incomevalue.toString()) * parseFloat(rate.toString());
                        b = parseFloat(incomevalue.toString()) - parseFloat(a);
                    }

                    incomearr[incomeid - 1] = incomevalue.toString();
                    document.getElementById("incomevalue").value = incomearr.toString();

                    findIncomeTotal();
                }

                function existitemname(item) {
                    var exnameid = item.id;
                    var exnamevalue = document.getElementById(exnameid).value;

                    exnameid = exnameid.replace("exname_", "");

                    var newexnamelist = document.getElementById("existItemNames").value.split(',');
                    var newexnamelistlength = newexnamelist.length;

                    if (newexnamelistlength == exnameid) {
                        document.getElementById("existItemNames").value = document.getElementById("existItemNames").value + exnamevalue + ",";
                    }
                    else {
                        newexnamelist[exnameid - 1] = exnamevalue;
                        document.getElementById("existItemNames").value = newexnamelist.toString();

                    }
                }

                function existitem(item) {
                    var existid = item.id;
                    var existvalue = document.getElementById(existid).value;

                    var rate = document.getElementById("rate").value;

                    existid = existid.replace("ex_", "");

                    if (existid == 1) {
                        var a = parseFloat(existvalue.toString()) * parseFloat(rate.toString());
                        existingrate = parseFloat(existvalue.toString()) - parseFloat(a);
                    }

                    existarr[existid - 1] = existvalue.toString();
                    document.getElementById("existvalue").value = existarr.toString();
                    updateExistingItems();
                }

                function cionitem(coin) {
                    var coinid = coin.id;
                    var coinvalue = document.getElementById(coinid).value;

                    coinid = coinid.replace("coin_", "");

                    coinarr[coinid - 1] = coinvalue.toString();

                    document.getElementById("coinvalue").value = coinarr.toString();
                }

                function fititem(fit) {
                    var fitid = fit.id;
                    var fitvalue = document.getElementById(fitid).value;

                    fitid = fitid.replace("fit_", "");

                    fitarr[fitid - 1] = fitvalue.toString();

                    document.getElementById("fitvalue").value = fitarr.toString();
                }

                function getinputofitems() {
                    var incomevalue = document.getElementById("incomevalue").value;
                    var incomeItemNames = document.getElementById("incomeItemNames").value;

                    var existvalue = document.getElementById("existvalue").value;
                    var existItemNames = document.getElementById("existItemNames").value;

                    var fitvalue = document.getElementById("fitvalue").value;
                    var fitItemNames = document.getElementById("fitItemNames").value;

                    var coinvalue = document.getElementById("coinvalue").value;
                    var coinItemNames = document.getElementById("coinItemNames").value;

                    document.getElementById("incomeitemvalue1").value = incomevalue;
                    document.getElementById("incomeitemname1").value = incomeItemNames;
                    document.getElementById("existitemvalue1").value = existvalue;
                    document.getElementById("existitemname1").value = existItemNames;
                    document.getElementById("fitvalue1").value = fitvalue;
                    document.getElementById("fitname1").value = fitItemNames;
                    document.getElementById("coinvalue1").value = coinvalue;
                    document.getElementById("coinname1").value = coinItemNames;

                    var x = document.getElementById("submitbutton");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    }
                }

                function showButton() {
                    var x = document.getElementById("saveButton");
                    if (x.style.display = "block") {
                        x.style.display = "none";
                    }
                }

            </script>
                                        }
    <script>
                
                $('input[name^="inc_"]:not([name^="inc_customkey"])').live('blur', function () {
                    if ($(this).val() != '')
                        $(this).val(roundNumber(customFloat($(this).val())));
                    $('.currencyLabel').formatCurrency({ symbol: '$', negativeFormat: '-%n' });
                });
                $('input[name^="ex_"]:not([name^="ex_customkey"])').live('blur', function () {
                    if ($(this).val() != '')
                        $(this).val(roundNumber(customFloat($(this).val())));
                    $('.currencyLabel').formatCurrency({ symbol: '$', negativeFormat: '-%n' });
                });

                $('#incomeTable input:not([name^="inc_customkey"])').live('keyup', function () {
                    findIncomeTotal();
                });
                $('#fitTable input').live('keyup', function () {
                    findFitTotal();
                    updateCash();
                });
                $('#coinTable input').live('keyup', function () {
                    findCoinTotal();
                    updateCash();
                });
                var incTotalVal = 0;
                function findIncomeTotal() {
                    incTotalVal = 0;
                    $('#incomeTable input:not([name^="inc_customkey"])').each(function () {
                        incTotalVal += ($(this).val() == '') ? 0 : customFloat($(this).val());
                    });
                    incTotalVal = roundNumber(incTotalVal - b);
                    $('#incTotalText').text(incTotalVal);
                    $('#incTotalText1').text(incTotalVal);
                    $('#income_total').val(incTotalVal);
                    $('#nextTellerIncome').text(incTotalVal);
                    $('#nextTotalText').text(roundNumber(incTotalVal - existingTotalVal));
                    setNetBalanceColor(incTotalVal, existingTotalVal);
                    $('#incTotalText').formatCurrency({ symbol: '$', negativeFormat: '-%n' });
                    $('#incTotalText1').formatCurrency({ symbol: '$', negativeFormat: '-%n' });
                    $('#nextTotalText').formatCurrency({ symbol: '$', negativeFormat: '-%n' });

                }
                var fitTotalVal = 0;
                function findFitTotal() {
                    fitTotalVal = 0;
                    $('#fitTable input').each(function () {
                        $('#fitTd_' + $(this).attr('multi')).text(roundNumber(customFloat($(this).attr('multi')) * (($(this).val() == '') ? 0 : customFloat($(this).val()))));
                        fitTotalVal += ($('#fitTd_' + $(this).attr('multi')).text() == '') ? 0 : customFloat($('#fitTd_' + $(this).attr('multi')).text());
                    });
                    fitTotalVal = roundNumber(fitTotalVal);
                    $('#fitTotalText').text(fitTotalVal);
                    $('#fit_total').val(fitTotalVal);
                    $('.currencyLabel').formatCurrency({ symbol: '$', negativeFormat: '-%n' });
                }
                var coinTotalVal = 0;
                function findCoinTotal() {
                    coinTotalVal = 0;
                    $('#coinTable input').each(function () {
                        $('#coinTd_' + $(this).attr('multi').replace('.', '')).text(roundNumber(customFloat($(this).attr('multi')) * (($(this).val() == '') ? 0 : customFloat($(this).val()))));
                        coinTotalVal += ($('#coinTd_' + $(this).attr('multi').replace('.', '')).text() == '') ? 0 : customFloat($('#coinTd_' + $(this).attr('multi').replace('.', '')).text());
                    });
                    coinTotalVal = roundNumber(coinTotalVal);
                    $('#coinTotalText').text(coinTotalVal);
                    $('#co_total').val(coinTotalVal);
                    $('.currencyLabel').formatCurrency({ symbol: '$', negativeFormat: '-%n' });
                }
                function updateCash() {
                    var totalCash = 0;
                    if ($('#fit_total').val() != '') {
                        totalCash += customFloat($('#fit_total').val());
                    }
                    if ($('#co_total').val() != '') {
                        totalCash += customFloat($('#co_total').val());
                    }
                    totalCash = roundNumber(totalCash);
                    $('#existingCash').val(totalCash);
                    updateExistingItems();
                    updateNextTeller();
                    $('#nextTotalText').text(roundNumber(incTotalVal - existingTotalVal));
                    setNetBalanceColor(incTotalVal, existingTotalVal);
                    $('.currencyLabel').formatCurrency({ symbol: '$', negativeFormat: '-%n' });
                }
                $('#existingTable input:not([name^="ex_customkey"])').live('keyup', function () {
                    updateExistingItems();
                });
                $('#nextTellerTable input').live('keyup', function () {
                    updateNextTeller();
                });
                var existingTotalVal = 0;
                function updateExistingItems() {
                    existingTotalVal = 0;
                    $('#existingTable input:not([name^="ex_customkey"])').each(function () {
                        existingTotalVal += ($(this).val() == '') ? 0 : customFloat($(this).val());
                    });
                    existingTotalVal = roundNumber(existingTotalVal - existingrate);
                    $('#exTotalText').text(existingTotalVal);
                    $('#exTotalText1').text(existingTotalVal);
                    $('#ex_total').val(existingTotalVal);
                    $('#nextTellerExisting').text(existingTotalVal);
                    $('#nextTotalText').text(roundNumber(incTotalVal - existingTotalVal));
                    setNetBalanceColor(incTotalVal, existingTotalVal);
                    $('#exTotalText').formatCurrency({ symbol: '$', negativeFormat: '-%n' });
                    $('#exTotalText1').formatCurrency({ symbol: '$', negativeFormat: '-%n' });
                }
                var nextTellerTotalVal = 0;
                function updateNextTeller() {
                    nextTellerTotalVal = 0;
                    $('#nextTellerTable input').each(function () {
                        nextTellerTotalVal += ($(this).val() == '') ? 0 : customFloat($(this).val());
                    });
                    $('.currencyLabel').formatCurrency({ symbol: '$', negativeFormat: '-%n' });
                }
                function roundNumber(n) {
                    return n.toFixed(2);
                }
                $('input').live("keypress", function (e) {
                    if (e.keyCode == 13) {
                        var inputs = $(this).parents("form").eq(0).find(":input");
                        var idx = inputs.index(this);
                        if (idx == inputs.length - 1) {
                            inputs[0].select()
                        } else {
                            inputs[idx + 1].focus();
                            inputs[idx + 1].select();
                        }
                        return false;
                    }
                });
                function updateBalance() {
                    document.myBalanceForm.action = '/dashboard/balance/id//act/edit';
                    document.myBalanceForm.submit();
                }
                var incCustomCount = 0;
                function addIncRow() {
                    if (incCustomCount >= 15) {
                        alert('Sorry, you can add max 15 income items only.');
                        return true;
                    }
                    incCustomCount++;
                    var trCount = $('#incomeTable tr').length - 3;
                    var slno = parseInt($('#incomeTable tr:eq(' + trCount + ') td:eq(0)').text(), 10) + 1;
                    var newRow = $('<tr><td>' + slno + '</td><td><input type="text" class="tdText balLabelLeft" onchange="incomeitemname(incname_' + (incCustomCount + previousincomlen) + ');" name="inc_customkey' + incCustomCount + '" id="incname_' + (incCustomCount + previousincomlen) + '" value="" /></td>' +
                        '<td><input type="text" class="tdText currencyLabel" onchange="incomeitem(inc_' + (incCustomCount + previousincomlen + 1) + ');" name="inc_cashforcheck" id="inc_' + (incCustomCount + previousincomlen + 1) + '" value="" required /></td></tr>');
                    $('#incomeTable tr:eq(' + trCount + ')').after(newRow);
                }
                var exCustomCount = 0;
                function addExRow() {
                    if (exCustomCount >= 5) {
                        alert('Sorry, you can add max 5 existing items only.');
                        return true;
                    }
                    exCustomCount++;
                    var trCount = $('#existingTable tr').length - 3;
                    var slno = parseInt($('#existingTable tr:eq(' + trCount + ') td:eq(0)').text(), 10) + 1;
                    var newRow = $('<tr><td>' + slno + '</td><td><input type="text" class="tdText balLabelLeft" onchange="existitemname(exname_' + (exCustomCount + previousexlen) + ');" name="ex_customkey' + exCustomCount + '" id="exname_' + (exCustomCount + previousexlen) + '" value="" /></td>' +
                        '<td><input type="text" class="tdText currencyLabel" id="ex_' + (exCustomCount + previousexlen) + '" onchange="existitem(ex_' + (exCustomCount + previousexlen) + ');" name="ex_customvalue' + exCustomCount + '" value="" required /></td></tr>');
                    $('#existingTable tr:eq(' + trCount + ')').after(newRow);
                }
                $.expr[":"].exactly = function (element, index, match) {
                    return $(element).text() == match[3];
                };
                function number_format(num, decimals, dec_point, thousands_sep) {
                    var n = !isFinite(+num) ? 0 : +num,
                        sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep;
                    s = ('' + n).split('.');
                    if (s[0].length > 3) {
                        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
                    }
                    var res = s.join('.');
                    return res;
                }
                function saveForLater() {
                    var bal_id = '';
                    if (bal_id == '') {
                        $('form[name=myBalanceForm]').attr('action', '/dashboard/balance/act/save');
                    } else {
                        $('form[name=myBalanceForm]').attr('action', '/dashboard/balance/act/edit/id/' + bal_id + '/status/draft');
                    }
                    document.myBalanceForm.submit();
                }
                function submitBalance() {
                    var bal_id = '';
                    if (bal_id != '') {
                        $('form[name=myBalanceForm]').attr('action', '/dashboard/balance/act/edit/id/' + bal_id + '/status/submit');
                    }
                    document.myBalanceForm.submit();
                }
                function exportToPdf() {
                    location.href = '/dashboard/doprint/id/';
                }
                function customFloat(v) {
                    return parseFloat(v.replace(/\,/g, ''));
                }
                function setNetBalanceColor(incTotalVal, existingTotalVal) {
                    if ((incTotalVal - existingTotalVal) > 0) {
                        $('#nextTotalText').addClass('redBg');
                        $('#nextTotalText').removeClass('yellowBg');
                    } else if ((incTotalVal - existingTotalVal) < 0) {
                        $('#nextTotalText').addClass('yellowBg');
                        $('#nextTotalText').removeClass('redBg');
                    } else {
                        $('#nextTotalText').removeClass('yellowBg redBg');
                    }
                }
    </script>
</section>
