﻿@{
    ViewBag.Title = "Customer Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using E_MoneyExpress.Models
@model List<E_MoneyExpress.Models.Customer>
<style>
    #verifyCashDiv {
        height: auto !important;
    }
</style>
<section>
    <div id="err_div" style="display:none;">
        <div class="status " id="inside_err">
            <p>
                <img src="">
            </p>
        </div>
    </div>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>


    <link rel="stylesheet" href="~/Content/Assets/slick.grid.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Assets/jquery-ui-1.10.2.custom.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Assets/slick_default_theme.css" type="text/css" />
    <script src="~/Content/Assets/jquery.event.drag-2.0.min.js"></script>
    <script src="~/Content/Assets/slick.core.js"></script>
    <script src="~/Content/Assets/slick.grid.js"></script>
    <script src="~/Content/Assets/jquery.showLoading.js"></script>
    <script src="~/Content/Assets/jquery.formatCurrency-1.4.0.min.js"></script>
    <link rel="stylesheet" href="~/Content/Assets/table.css">
    <link rel="stylesheet" href="~/Content/Assets/jquery-ui-1.10.2.custom.css">
    <script src="~/Content/Assets/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="~/Content/Assets/jquery.watermark.min.js"></script>
    <script src="~/Content/Assets/jquery.formatCurrency-1.4.0.min.js"></script>

    <div>
        <h2 class="h2Left">Customer Report</h2>
        <div style="clear:both;"></div>
    </div>

    <div class="pContent searchBar">
        <div>
            <span class="subHeading">Store Name: </span>
            <input type="hidden" value="@ViewBag.Store.Id" id="store" name="store_id"> @ViewBag.Store.Name &nbsp;
            <a href="@Url.Action("FindCustomer", "Home")" class="pull-right">Add New Transaction</a>
        </div>
        <div style="margin-top:15px">
            <span class="subHeading">Filter By: </span>&nbsp;
            <select name="filter_year" id="filter_year" style="width:100px;" required>
                <option value="">-Select-</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
            </select>&nbsp;
            <select name="filter_month" id="filter_month" style="width:100px;" required>
                <option value="">All</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>&nbsp;
            <a href="javascript:void(0);" onclick="filtercustomer();" class="button small blue" style="margin-bottom:0px;"><span>Search</span></a>
        </div>
    </div>



    <form method="post" action="@Url.Action("ShowTransaction", "Home")">
        <div id="searchresult2">
            <div id="hideid2" class="container-fluid">
                <div class="table-responsive">
                    <table id="example2" class="table" cellspacing="0">
                        <thead class="thead-default">
                            <tr>
                                <th>Customer Name</th>
                                <th>Amount</th>
                                <th>Fees</th>
                                <th>Total</th>
                                <th>No. of Transactions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Customer c in Model.ToList())
                            {                                
                                    List<Transaction> transactions = c.Transactions.Where(x => x.Openning.Store_User.Store_Id == ViewBag.store.Id).ToList();
                                    double amount = 0;
                                    double fees = 0;
                                    double total = 0;
                                    if (transactions.Count() > 0)
                                    {
                                        amount = transactions.Sum(x => x.Amount);
                                        fees = transactions.Sum(x => x.Fee);
                                        total = amount + fees;
                                    }
                                    if (amount != 0 && fees != 0 && total != 0)
                                    {
                                        <tr>
                                            <td>@c.FirstName @c.LastName1 @c.LastName2</td>
                                            <td>@amount</td>
                                            <td>@fees</td>
                                            <td>@total</td>
                                            <td><a href="javascript:void(0);" onclick="showVerifyPopup(@c.Id);">@transactions.Count()</a></td>
                                        </tr>
                                     }                                 
                              }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>


    <div id="verifyCashDiv" title="Customer Transactions" style="display:none; overflow-x:hidden; height:auto !important;">
        <div class="userInfo" style="background-color:#D8F6CE;">
            <div>
                <label><strong>Customer Name:&nbsp;</strong></label><span id="customername"></span>&nbsp; &nbsp;
                <label><strong>Number of Transactions#: </strong></label><span id="nooftransaction"></span>&nbsp; &nbsp;
                <label><strong>Total: </strong></label> $<span id="total"></span>
            </div>
        </div>
        <br />
        @*<button id="btnPrint" class=" btn btn-primary pull-right" name=""> Print <span class="glyphicon glyphicon-print"></span></button><br /><br /><br />*@
        <div id="searchresult">
            <div id="hideid" class="container-fluid">
                <div class="table-responsive">
                    <table id="example" class="table " cellspacing="0">
                        <thead class="thead-default">
                            <tr>
                                <th>Date</th>
                                <th>Store</th>
                                <th>Ref#</th>
                                <th>Company Name</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Fee</th>
                                <th>Total</th>
                                <th>Receipt</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>14/12/2017</td>
                                <td>Raheem Store</td>
                                <td>123</td>
                                <td>Money Gram</td>
                                <td>SEND</td>
                                <td>1200</td>
                                <td>10</td>
                                <td>1210</td>
                                <td>Nothing</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    

    



    <script>
        $(function () {
            $("#example").dataTable();
            $("#example_filter").hide();
        })

        function showVerifyPopup(customerid) {
            $("#verifyCashDiv").dialog({
                height: 700,
                width: 900,
                modal: true,
                resizable: false,
                autoOpen: true,
                buttons: {
                    "Ok": function () {
                        $('#next_begin_bal').val($('#verifyTotalSpan').text());
                        $(this).dialog("close");
                    }
                }
            });
            $('.currencyLabel').formatCurrency({ symbol: '' });


            var customer_id = customerid;
            var store_id = $("#store").val();

            $.ajax({
                dataType: "json",
                type: "GET",
                url: 'SearchTransactions',
                data: { Customer_Id: customer_id, Store_Id: store_id },
                success: function (response) {

                    var trobject = '<div id="test" class="container-fluid"><div class="table-responsive" ><table id="myTable" class="table" cellspacing="0"><thead class="thead-default"><tr><th>Date</th><th>Store</th><th>Ref#</th><th>Company Name</th><th>Type</th><th>Amount</th><th>Fee</th><th>Total</th><th>Action</th></tr></thead ><tbody">';
                    var i = 0;
                    var total = 0;
                    $.each(response, function () {

                        trobject = trobject + '<tr><td>' + response[i].Transaction_Date + '</td><td>' + response[i].Transaction_Store_Name + '</td><td><a href="TransactionDetails/' + response[i].Transaction_Id + '">' + response[i].Transaction_ReferenceNumber
                            + '</td><td>' + response[i].Transaction_CompanyName + '</td><td>' + response[i].Transaction_Type + '</td><td>' + response[i].Transaction_Amount
                            + '</td><td>' + response[i].Transaction_Fee + '</td><td>' + response[i].Transaction_OneTotal + '</td><td>';

                        total = parseFloat(total) + parseFloat(response[i].Transaction_OneTotal);

                        if (response[i].Transaction_Customer_LastName2 == null) {
                            document.getElementById("customername").innerHTML = response[i].Transaction_Customer_FirstName + ' ' + response[i].Transaction_Customer_LastName1;
                        }
                        else {
                            document.getElementById("customername").innerHTML = response[i].Transaction_Customer_FirstName + ' ' + response[i].Transaction_Customer_LastName1 + ' ' + response[i].Transaction_Customer_LastName2;

                        }
                        trobject = trobject + '<a href="EditTransaction/' + response[i].Transaction_Id + '"> Edit</a></td>';
                        trobject = trobject + '</tr>';
                        i++;

                    });

                    document.getElementById("nooftransaction").innerHTML = ' ' + i;
                    document.getElementById("total").innerHTML = total;

                    $('#searchresult').html('');
                    trobject = trobject + '</tbody></table></div></div>';
                    $('#searchresult').append(trobject);
                    $('#dvContent').html('');
                    $('#dvContent').append(trobject);
                    $('#hideid').hide();
                    $('#tableid').dataTable({

                    });
                },
                error: function (response) {
                    alert('Error');
                }

            });
        }



        function filtercustomer() {

            var year = $("#filter_year").val();
            var month = $("#filter_month").val();

            $.ajax({
                dataType: "json",
                type: "GET",
                url: 'FilterTransactions',
                data: { year: year, month: month },
                success: function (response) {
                    var i = 0;

                    var trobject = '<div id="test" class="container-fluid"><div class="table-responsive"><table id="myTable" class="table" cellspacing="0"><thead class="thead-default"><tr><th>Customer Name</th><th>Amount</th><th>Fees</th><th>Total</th><th>No. of Transactions</th></tr></thead><tbody">';
                    $.each(response, function () {
                        trobject = trobject + '<tr><td>' + response[i].Transaction_Customer_FirstName + ' ' + response[i].Transaction_Customer_LastName1 + '</td><td>' + response[i].Transaction_Amount + '</td><td>' + response[i].Transaction_Fee +
                            '</td><td>' + response[i].Transaction_OneTotal + '</td><td><a href="javascript:void(0);" onclick="showVerifyPopup(' + parseInt(response[i].Transaction_Customer_Id ) + ');">' + response[i].Transaction_Count + '</a></td><td>';
                        trobject = trobject + '</tr>';
                    });

                    $('#searchresult2').html('');
                    trobject = trobject + '</tbody></table></div></div>';
                    $('#searchresult2').append(trobject);
                    $('#hideid2').hide();
                    $('#tableid2').dataTable({

                    });
                },
                error: function (response) {
                    alert('Error');
                }

            });
        }





    </script>
</section>


<div class="container" id="dvContent">
    @*<div class="row">
        <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="receipt-header">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="receipt-left">
                            <img class="img-responsive" alt="Emoney Express" src="~/Content/logo.png" style="width: 200px;">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <div class="receipt-right">
                            <br /><br />
                            <h5>E-money Expresss</h5>
                            <p>+91 12345-6789 <i class="fa fa-phone"></i></p>
                            <p>info@gmail.com <i class="fa fa-envelope-o"></i></p>
                            <p>Australia <i class="fa fa-location-arrow"></i></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="receipt-header receipt-header-mid">
                    <div class="col-xs-6 col-sm-6 col-md-6 ">
                        <div class="receipt-right ">
                            <h3 style="color: #00AEEF !important;">Transaction Details</h3>
                            <h4>Reference Number: @Model.ReferenceNumber</h4>
                            <p><b>Date:</b> @Model.Date.ToShortDateString()</p>
                            <p><b>Company Name:</b> @Model.CompanyName</p>
                            <p><b>Type :</b> @Model.Type</p>
                            <p><b>Amount :</b> @Model.Amount</p>
                            <p><b>Fee :</b> @Model.Fee</p>
                            @{
                                double sum1 = 0.0;
                                sum1 = sum1 + Model.Amount + Model.Fee;
                            }
                            <p><b>Total : </b> @sum1</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="receipt-left">
                            <h3 style="color: #00AEEF !important;">Customer Information</h3>
                            <h4>@ViewBag.c.FirstName @ViewBag.c.LastName1 @ViewBag.c.LastName2</h4>
                            <p><b>Date of Birth :</b> @ViewBag.c.DOB.ToShortDateString()</p>
                            <p><b>Social Security Number :</b> @ViewBag.c.SocialSecurityNumber</p>
                            <p><b>Customer Number :</b> @ViewBag.c.IdNumber</p>
                            <p><b>State :</b> @ViewBag.c.State</p>
                            <p><b>Expiry Date :</b> @ViewBag.c.ExpiryDate.ToShortDateString()</p>
                            <p><b>Phone :</b> @ViewBag.c.Phone</p>
                            <p><b>Address :</b> @ViewBag.c.Address</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="receipt-main col-xs-10 col-sm-10 col-md-9">
                    <br />:left;">
                    <img id="my_image  @Model.Id" src="@Url.Content("http://e-moneyexpress.apphb.com//" +  @Model.Image + "?" + ViewBag.d)" width="200" height="200" style="background-color:white;" accept="image/*" />
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:450px; border-top:2px solid black; bottom:0;">
            <div class="receipt-header receipt-header-mid receipt-footer">
                <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                    <div class="receipt-right">
                        <p><b>Date :</b> @DateTime.Now.ToString("dd/MM/yyyy")</p>
                        <h4 style="color: rgb(140, 140, 140);">Thank you for your business!</h4>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <div class="receipt-left">
                        <h1></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>

<script>

        $(document).ready(function () {
            $('#dvContent').hide();
        });

        $(function () {
            $("#btnPrint").click(function () {
                var contents = $("#dvContent").html();
                var frame1 = $('<iframe />');
                frame1[0].name = "frame1";
                frame1.css({ "position": "absolute", "top": "-1000000px" });
                $("body").append(frame1);
                var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
                frameDoc.document.open();
                //Create a new HTML document.
                frameDoc.document.write('<html><head><title>E-money Express</title>');
                frameDoc.document.write('<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />');
                frameDoc.document.write(contents);
                frameDoc.document.write('</body></html>');
                frameDoc.document.close();
                setTimeout(function () {
                    window.frames["frame1"].focus();
                    window.frames["frame1"].print();
                    frame1.remove();
                }, 500);
            });
        });
</script>