﻿
@{
    ViewBag.Title = "CustomerTransactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="dvContainer">
    <h2>CustomerTransactions</h2>
</div>


<br>

<div class="heading-elements">
    <button id="btnPrint" class=" btn btn-primary" name=""> Print <span class="glyphicon glyphicon-print"></span></button>
</div>

<script>
     $("#btnPrint").on("click", function () {

            var divContents = $("#dvContainer").html();

            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head> <title style="color:" blue"; font-family:"Noto Naskh Arabic",serif;">Visa Application Reports</title>');
            printWindow.document.write('</head> <body>');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html> ');
            printWindow.document.close();
            printWindow.print();
        });
</script>