﻿@{
    ViewBag.Title = "CustomerIdentification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        margin-top: 40px;
    }

    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 50%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>

<section>

    <div class="container-fluid">
        <br>
        <div class="stepwizard col-md-offset-2">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled">1</a>
                    <p>Step 1</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-primary btn-circle" disabled="disabled">2</a>
                    <p>Step 2</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                    <p>Step 3</p>
                </div>
            </div>
        </div>
        <div>
            <br /><strong style="color: red;">@ViewBag.message</strong>
        </div>



        <form method="post" action="@Url.Action("SaveCustomerIdentification", "Home")" enctype="multipart/form-data" id="background">
            <div class="row setup-content" id="step-2">
                <input type="hidden" id="Customer_Id" name="Customer_Id" value="@ViewBag.Customer_Id" />
                <div class="col-md-12">

                    <h3> Step 2</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Identification<span class="mandatory">*</span></h3>
                            <div>
                                <fieldset id="group1">
                                    <input type="radio" value="Drivers License" name="Identification"> Drivers License
                                    <input type="radio" value="State ID" name="Identification"> State ID
                                    <input type="radio" value="Passport" name="Identification"> Passport
                                    <input type="radio" value="Alient Card" name="Identification"> Alient Card
                                    <input type="radio" value="Electoral Voter ID Card" name="Identification"> Electoral Voter ID Card
                                    <input type="radio" value="Consulate ID Card" name="Identification"> Consulate ID Card
                                    <input type="radio" value="Other" name="Identification"> Other
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Upload Image<span class="mandatory">*</span><br /><input style="width:200px;" type="file" id="identificationimage" name="file" required /></p>
                        </div>
                        <div class="col-md-8">
                            <div id="imagediv">
                                <img id="my_image" width="200" height="200" style="background-color:white;" accept="image/*" />
                            </div>
                            <input type="text" hidden id="imagebase" />
                            <input type="text" hidden id="imageurl" name="ImageUrl" />

                        </div>
                    </div>
                    <button class="btn btn-primary pull-right" type="submit">Save</button>
                </div>
            </div>
        </form>
        <br />
        <a class="btn btn-success pull-right" href="@Url.Action("CheckCustomerIdentification", "Home", new { Customer_Id = ViewBag.Customer_Id })">Next</a>

    </div>
</section>


<script>
    $(document).ready(function () {
        $("#identificationimage").on('change', function () {
            var identificationimage = document.getElementById('identificationimage');
            getBase64(identificationimage);
            var dif = document.getElementsByName('Identification');
            var ii = 0;
            var difValue;
            for (var i = 0; i < dif.length; i++) {
                if (dif[i].type === "radio" && dif[i].checked) {
                    difValue = dif[i].value;
                    ii++;
                }
            }

            if (ii == 0) {
                alert("Please selact an identification label.");
            }
            else {
                var counter = 2;
                var id;
                id = setInterval(function () {
                    counter--;
                    if (counter < 0) {
                        var stringbase64 = document.getElementById('imagebase').value;
                        ImageAjaxCall(difValue, stringbase64);
                        clearInterval(id);
                    } else {

                    }
                }, 200);
            }
        });
    });

    $(document).ready(function () {
        $("#group1").on('change', function () {
            var dif = document.getElementsByName('Identification');

            var difValue;
            for (var i = 0; i < dif.length; i++) {
                if (dif[i].type === "radio" && dif[i].checked) {


                    difValue = dif[i].value;
                    if (document.getElementById("identificationimage").value != "") {
                        var imagebase6 = document.getElementById('imagebase').value;
                        ImageAjaxCall(difValue, imagebase6);

                        break;
                    }
                    else {
                        alert("Please upload an image.");
                    }

                }
            }
        });
    });

    function getBase64(element) {
        var file = element.files[0];

        var reader = new FileReader();

        reader.onloadend = function () {

            var imagebase = document.getElementById('imagebase');
            imagebase.value = reader.result;
        }

        reader.readAsDataURL(file);


    }

    function ImageAjaxCall(Ident, imagestring) {
        var customer_id = $("#Customer_Id").val();
        $.ajax({
            dataType: "json",
            type: "POST",
            url: 'SaveCustomerImage',
            data: { imagebase: imagestring, Identification: Ident, Customer_Id: customer_id },
            success: function (response) {
                var imageurl = response;
                if (imageurl != null) {
                    $("#my_image").attr("src", "http://e-moneyexpress.apphb.com//" + imageurl + "?" + new Date().getTime());
                    $("#imageurl").val(imageurl);
                }
            },
            error: function (response) { alert('Error'); }

        });
    }
   
</script>

















 