﻿
@{
    ViewBag.Title = "Customer Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model E_MoneyExpress.Models.Customer
@using E_MoneyExpress.Models

<h2>Customer Profile</h2>
<section>
    <button id="btnPrint" class=" btn btn-primary pull-right" name=""> Print <span class="glyphicon glyphicon-print"></span></button>
    <div class="container">
        <div class="row">
            <div class="receipt-main col-xs-10 col-sm-10 col-md-9">
                <div class="receipt-header receipt-header-mid">
                    <div class="col-xs-6 col-sm-6 col-md-6 ">
                        <div class="receipt-right ">
                            <h3 style="color: #00AEEF !important;">Personal Information</h3>
                            <h4>@Model.FirstName @Model.LastName1 @Model.LastName2</h4>
                            <p><b>Date Of Birth :</b> @Model.DOB.ToShortDateString()</p>
                            <p><b>Social Security# :</b> @Model.SocialSecurityNumber</p>
                            <p><b>ID# :</b> @Model.IdNumber</p>
                            <p><b>State :</b> @Model.State</p>
                            <p><b>Phone :</b> @Model.Phone</p>
                            <p><b>Alternative Phone:</b> @Model.AlternativePhone</p>
                            <p><b>Address :</b> @Model.Address</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="receipt-left">
                            <h3 style="color: #00AEEF !important;">Employee Information</h3>
                            <h4>@Model.EmployerName</h4>
                            <p><b>Employer Phone :</b> @Model.EmployerPhone</p>
                            <p><b>Employer Address :</b> @Model.EmployerAddress</p>
                            <p><b>Note :</b> @Model.Note</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <button id="btnPrint2" class=" btn btn-primary pull-right" name=""> Print <span class="glyphicon glyphicon-print"></span></button>
    <br>
    <div class="container">
        <div class="row">
            <div class="receipt-main col-xs-10 col-sm-10 col-md-9">
                <br />
                <div class="col-xs-6 col-sm-6 col-md-4">
                    @foreach (CustomerImage ci in ViewBag.cis)
                    {
                        <div style="width:30%; margin-left:3%; float:left;">
                            <img id="my_image @ci.Id" src="@Url.Content("http://e-moneyexpress.apphb.com//" + ci.ImageUrl + "?" + ViewBag.d)" width="200" height="200" style="background-color:white;" accept="image/*" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="userInfo" style="background-color:#D8F6CE;">
        <div>
            <label><strong>Total of all transactions: </strong></label>$<span>@ViewBag.total</span>&nbsp; &nbsp;
            <label><strong>Total of current year transactions: </strong></label>$<span>@ViewBag.yeartotal</span>&nbsp; &nbsp;
            <label><strong>Total of current month transactions: </strong></label> $<span id="total">@ViewBag.monthtotal</span>
        </div>
    </div>
    <br />
    <div class="row">
        <div id="test" class="container-fluid">
            <div class="table-responsive">
                <table id="myTable" class="table" cellspacing="0">
                    <thead class="thead-default">
                        <tr>
                            <th>Date</th>
                            <th>Store</th>
                            <th>Ref#</th>
                            <th>Company Name</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Fee</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Transaction t in ViewBag.transactions)
                                    {
                                    <tr>
                                        <td>@t.Date.ToString("dd/MM/yyyy")</td>
                                        <td>@t.Openning.Store_User.Store.Name</td>
                                        <td><a href="@Url.Action("TransactionDetails", "Home", new { Id = t.Id })">@t.ReferenceNumber</a></td>
                                        <td>@t.CompanyName</td>
                                        <td>@t.Type</td>
                                        <td>@t.Amount</td>
                                        <td>@t.Fee</td>
                                        @{
                                                    double total = 0;
                                                    total = total + t.Amount + t.Fee;
                                        }
                                        <td>
                                            @total
                                    </td>
                                        <td>
                                            <a class="btn btn-primary" href="@Url.Action("EditTransaction", "Home", new { Id =  t.Id })"><i class="fa fa-edit">Edit</i></a>
                                        </td>
                                </tr>
                                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div class="container" id="dvContents">
    <div class="row">

        <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="receipt-header">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="receipt-left">
                            <img class="img-responsive" alt="Emoney Express" src="~/Content/logo.png" style="width: 200px;">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <div class="receipt-right">
                            <br /><br />
                            <h5>E-money Expresss</h5>
                            <p>+91 12345-6789 <i class="fa fa-phone"></i></p>
                            <p>info@gmail.com <i class="fa fa-envelope-o"></i></p>
                            <p>Australia <i class="fa fa-location-arrow"></i></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="receipt-header receipt-header-mid">
                    <div class="col-xs-6 col-sm-6 col-md-6 text-left">
                        <div class="receipt-right">
                            <h3>Personal Information</h3>
                            <h4>@Model.FirstName @Model.LastName1 @Model.LastName2</h4>
                            <p><b>Date Of Birth :</b> @Model.DOB.ToShortDateString()</p>
                            <p><b>Social Security# :</b> @Model.SocialSecurityNumber</p>
                            <p><b>Customer# :</b> @Model.IdNumber</p>
                            <p><b>State :</b> @Model.State</p>
                            <p><b>Phone :</b> @Model.Phone</p>
                            <p><b>Alternative Phone:</b> @Model.AlternativePhone</p>
                            <p><b>Address :</b> @Model.Address</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="receipt-left">
                            <h3>Employee Information</h3>
                            <h4>@Model.EmployerName</h4>
                            <p><b>Employer Phone :</b> @Model.EmployerPhone</p>
                            <p><b>Employer Address :</b> @Model.EmployerAddress</p>
                            <p><b>Note :</b> @Model.Note</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:450px; border-top:2px solid black; bottom:0;">
                <div class="receipt-header receipt-header-mid receipt-footer">
                    <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                        <div class="receipt-right">
                            <p><b>Date :</b> @DateTime.Now.ToString("dd/MM/yyyy")</p>
                            <h4 style="color: rgb(140, 140, 140);">Thank you for your business!</h4>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="receipt-left">
                            <h1></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="dvContents2">
    <div class="row">

        <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="receipt-header">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="receipt-left">
                            <img class="img-responsive" alt="iamgurdeeposahan" src="~/Content/logo.png" style="width: 200px;">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <div class="receipt-right">
                            <br /><br />
                            <h5>E-money Expresss</h5>
                            <p>+91 12345-6789 <i class="fa fa-phone"></i></p>
                            <p>info@gmail.com <i class="fa fa-envelope-o"></i></p>
                            <p>Australia <i class="fa fa-location-arrow"></i></p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                @foreach (CustomerImage ci in ViewBag.cis)
                {
                <div style="width:30%; margin-left:3%; float:left;">
                    <img id="my_image @ci.Id" src="@Url.Content("http://e-moneyexpress.apphb.com//" + ci.ImageUrl + "?" + ViewBag.d)" width="200" height="200" style="background-color:white;" accept="image/*" />

                </div>
                }
            </div>

            <div class="row" style="margin-top:450px; border-top:2px solid black; bottom:0;">
                <div class="receipt-header receipt-header-mid receipt-footer">
                    <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                        <div class="receipt-right">
                            <p><b>Date :</b> @DateTime.Now.ToString("dd/MM/yyyy")</p>
                            <h4 style="color: rgb(140, 140, 140);">Thank you for your business!</h4>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="receipt-left">
                            <h1></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#dvContents').hide();
        $('#dvContents2').hide();
    });

    $(function () {
        $("#btnPrint").click(function () {
            var contents = $("#dvContents").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute", "top": "-1000000px" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title>E-money Express</title>');
            frameDoc.document.write('<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />');
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);
        });
    });

    $(function () {
        $("#btnPrint2").click(function () {
            var contents = $("#dvContents2").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute", "top": "-1000000px" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title>E-money Express</title>');
            frameDoc.document.write('<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />');
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);
        });
    });
</script>