﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using E_MoneyExpress.Models
<style>
    #verifyCashDiv {
        height: auto !important;
    }
</style>
<link rel="stylesheet" href="~/Content/Assets/table.css">
<link rel="stylesheet" href="~/Content/Assets/jquery-ui-1.10.2.custom.css">
<script src="~/Content/Assets/jquery-ui-1.10.2.custom.min.js"></script>
<script src="~/Content/Assets/jquery.watermark.min.js"></script>
<script src="~/Content/Assets/jquery.formatCurrency-1.4.0.min.js"></script>
<section>


    <div id="err_div">
        <div class="status success" id="inside_err">
            <p>
                <span class="glyphicon glyphicon-ok"></span> Welcome to e-moneyexpress
            </p>
        </div>
    </div>

    <h2>Dashboard</h2>

@if (ViewBag.Role != 2)
{
        <form name="myHomeForm" action="@Url.Action("SaveOpenning", "Home")" method="post">

            @foreach (Store st1 in @ViewBag.stores)
            {
                <input name="store_id" value="@st1.Id" id="store_id" hidden>
            }

            <div class="userInfo" style="padding:15px;">
                <div>
                    <label>Select Date: </label>
                    <input type="text" name="bal_date" id="bal_date" style="width:150px;" value="@DateTime.Now.ToString("dd-MM-yyyy")" disabled />
                    <label style="margin-left:40px;">Store: </label>
                    @foreach (Store st2 in @ViewBag.stores)
                    {
                        <input type="text" value="@st2.Name" id="store_id" style="width:150px;" disabled>
                    }
                    <label style="padding-left:40px;">Select Shift: </label>
                    @if (ViewBag.Shift == null)
                    {
                        <select name="Shift" id="shift_num" style="width:150px;" required>
                            <option value="">-Select-</option>
                            <option value=1>First</option>
                            <option value=2>Second</option>
                        </select>
                    }
                    else
                    {
                        <select name="Shift" id="shift_num" style="width:150px;" required>
                            <option value="">-Select-</option>
                            @if (ViewBag.Shift == "1")
                            {
                                <option value=1 selected>First</option>
                                    <option value=2>Second</option>
                            }
                            else
                            {
                                <option value=1>First</option>
                                    <option value=2 selected>Second</option>
                            }
                        </select>
                    }&nbsp;
                    <button type="submit" class="button small green" style="margin-bottom:0px;margin-left:40px;"><span>Go</span></button>

                </div>
            </div>
            <div id="beginBalDiv"></div>
        </form>
}

else
{    
        <form name="myHomeForm" action="@Url.Action("SaveOpenning", "Home")" method="post">
            <div class="userInfo" style="padding:15px;">
                <div>
                    <label>Select Date: </label>
                    <input type="text" name="bal_date" id="bal_date" style="width:150px;" value="@DateTime.Now.ToString("dd-MM-yyyy")" disabled />
                    <label style="margin-left:40px;">Store: </label>
                    @if (ViewBag.selectedStore != null)
                    {
                    <input type="text" style="width:150px;" value="@ViewBag.selectedStore.Name" disabled />
                    <input type="hidden" name="store_id" id="shift_num" style="width:150px;" value="@ViewBag.store_id" />
                    }
                    else
                    {
                        <select name="store_id" id="shift_num" style="width:150px;" required>
                            <option value="">-Select-</option>
                            @foreach (Store s in ViewBag.allStores)
                            {
                                <option value=@s.Id>@s.Name</option>
                            }

                        </select>
                    }                    
                    <label style="padding-left:40px;">Select Shift: </label>
                    @if (ViewBag.Shift == null)
                    {
                        <select name="Shift" id="shift_num" style="width:150px;" required>
                            <option value="">-Select-</option>
                            <option value=1>First</option>
                            <option value=2>Second</option>
                        </select>
                    }
                    else
                    {
                        <select name="Shift" id="shift_num" style="width:150px;" required>
                            <option value="">-Select-</option>
                            @if (ViewBag.Shift == "1")
                            {
                                <option value=1 selected>First</option>
                                <option value=2>Second</option>
                            }
                            else
                            {
                                <option value=1>First</option>
                                <option value=2 selected>Second</option>
                            }
                        </select>
                    }&nbsp;
                    <button type="submit" class="button small green" style="margin-bottom:0px;margin-left:40px;"><span>Go</span></button>

                </div>
            </div>
            <div id="beginBalDiv"></div>
        </form>
    }



    @if (ViewBag.Shift != null)
    {
        <div id="beginHideDiv">
            <form action="@Url.Action("StartOpenning", "Home")" method="post">
                <input type="hidden" name="openningid" value="@ViewBag.openningId" />
                <input type="hidden" id="fitname1" name="fitsn" value="" />
                <input type="hidden" id="fitvalue1" name="fitsv" value="" />
                <input type="hidden" id="coinname1" name="coinsn" value="" />
                <input type="hidden" id="coinvalue1" name="coinsv" value="" />
                <input name="store_id" value="@ViewBag.store_id" hidden>

                <input name="DateTime" type="hidden" value="@DateTime.Now" />
                <input type="hidden" name="Shift" value="@ViewBag.Shift" />
                <div class="bodyLabel"><label>Closing balance after last shift:&nbsp;</label><b>$<span class="currencyLabel"></span></b>&nbsp;<span class="labelComment">(Please verify with balance money) <a class="button small blue centerButton" href="javascript:void(0);" onclick="showVerifyPopup();"><span>Verify</span></a></span></div>
                <div class="bodyLabel">
                    <label>Please enter beginning balance:&nbsp;$</label>
                    <input type="text" class="currencyLabel readonly" style="width:80px;" value="" id="next_begin_bal" name="OpeningBalance" required />                        
                </div>
                <div style="clear:both;"></div>
                <table class="bordered">
                    <thead>
                        <tr>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tr>
                        <td id="notestd">
                            <textarea class="notesta" name="Notes" id="next_notes"></textarea>
                        </td>
                    </tr>
                </table>
                <button type="submit" class="button medium green centerButton"><span>Submit Begining Balance</span></button>
            </form>
        </div>
    }

    <form name="dialogForm" action="/dashboard/index" method="post">
        <div id="verifyCashDiv" title="Verify Balance" style="display:none; overflow-x:hidden; height:auto !important;">
            <div id="verifyFit">
                <table id="fitTable" class="bordered">
                    <thead>
                        <tr>
                            <th>FIT</th>
                            <th>VALUE</th>
                            <th>AMOUNT($)</th>
                        </tr>
                    </thead>
                    @{ 
                        string fitItemNames = "";
                    if (ViewBag.fits != null)
                    {
                        
                        int fitcount = 2;
                        foreach (FitCoin fitcoin in ViewBag.fits)
                        {
                            <tr>
                                <td><input onchange="fititem(fit_@(fitcount - 1));" id="fit_@(fitcount - 1)" class="tdText" name="FIT_100" value="" multi="@fitcoin.Value" /></td>
                                <td>$@fitcoin.Value.00</td>
                                @{
                                    string ids = fitcoin.Value.ToString().Replace(".", "");
                                    <td id="fitTd_@ids" class="currencyLabel"></td>
                                }


                            </tr>
                                            fitItemNames += fitcoin.Value + ".00,";
                                            fitcount++;
                                        }
                                    }
                                    }
                    <tr>

                        <td>TOTAL</td>
                        <td></td>
                        <td id="fitTotalText" class="currencyLabel"></td>
                    </tr>
                </table>
                <input type="hidden" name="fit_total" id="fit_total" value="" />
                <input type="hidden" id="fitvalue" />
                <input type="hidden" id="fitItemNames" name="fitItemNames" value="@fitItemNames" />
            </div>
            <div id="verifyCoin">
                <table id="coinTable" class="bordered">
                    <thead>
                        <tr>
                            <th>COINS</th>
                            <th>VALUE</th>
                            <th>AMOUNT($)</th>
                        </tr>
                    </thead>
                    @{ 
                        string coinItemNames = "";
                        if (ViewBag.coins != null)
                        {
                            int coincount = 2;
                            foreach (FitCoin fitcoin in ViewBag.coins)
                            {
                            <tr>
                                <td><input type="text" class="tdText" onchange="cionitem(coin_@(coincount - 1));" id="coin_@(coincount - 1)" name="CO_@fitcoin.Value" value="" multi="@fitcoin.Value" /></td>
                               
                                <td>$@fitcoin.Value.ToString("0.00")</td>
                                @{ 

                                    coinItemNames += fitcoin.Value.ToString("0.00") + ",";
                                    coincount++;                                
                                    string ids = fitcoin.Value.ToString().Replace(".", "");
                                    <td id="coinTd_@ids" class="currencyLabel"></td>
                                }
                            </tr>
                                        }
                                    }
                    }
                    <tr>
                        <td>TOTAL</td>
                        <td></td>
                        <td id="coinTotalText" class="currencyLabel"></td>
                    </tr>
                </table>
                <input type="hidden" name="co_total" id="co_total" value="" />
                <input type="hidden" id="coinvalue" />
                <input type="hidden" id="coinItemNames" name="coinItemNames" value="@coinItemNames" />
            </div>
            <div style="clear:both;"></div>
            <div class="userInfo" style="background-color:#D8F6CE;">
                <div><label>Total Amount: <span id="verifyTotalSpan" class="currencyLabel"></span></label></div>
            </div>
        </div>
        <input type="hidden" name="NEXT_BEGIN_BAL" id="next_begin_balance1" value="" />
        <input type="hidden" name="NEXT_NOTES" id="next_notes1" value="" />
    </form>
    <div id="balanceButtonDiv" style="display:none;">
        <a class="button medium green centerButton" href="/dashboard/balance" onclick=""><span>Enter Balance Sheet</span></a>
    </div>
    <div id="updateBalButtonDiv" style="display:none;">
    </div>


    <script>
        
        var coinarr = ["0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0"];
        var fitarr = ["0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0"];
             

        $(document).ready(function () {

            document.getElementById("coinvalue1").value = coinarr.toString();
            document.getElementById("coinname1").value = document.getElementById("coinItemNames").value;

            document.getElementById("fitvalue1").value = fitarr.toString();
            document.getElementById("fitname1").value = document.getElementById("fitItemNames").value;
        });
        function cionitem(coin) {
            var coinid = coin.id;
            var coinvalue = document.getElementById(coinid).value;

            coinid = coinid.replace("coin_", "");

            coinarr[coinid - 1] = coinvalue.toString();

            document.getElementById("coinvalue").value = coinarr.toString();
            document.getElementById("coinvalue1").value = coinarr.toString();
        }

        function fititem(fit) {
            var fitid = fit.id;
            var fitvalue = document.getElementById(fitid).value;

            fitid = fitid.replace("fit_", "");

            fitarr[fitid - 1] = fitvalue.toString();

            document.getElementById("fitvalue").value = fitarr.toString();
            document.getElementById("fitvalue1").value = fitarr.toString();
        }        

    </script>

    <script>
        $(".tdText").on("keypress", function (evt) {
            var keycode = evt.charCode || evt.keyCode;
            if (keycode == 46) {
                return false;
            }
        });


        $(".readonly").keydown(function (e) {
            e.preventDefault();
        });

        $(document).ready(function () {
            $('.currencyLabel').formatCurrency({ symbol: '' });
        });
        $('#fitTable input').live('keyup', function () {
            findFitTotal();
            updateCash();
        });
        $('#coinTable input').live('keyup', function () {
            findCoinTotal();
            updateCash();
        });
        $("#bal_date").watermark();
        $("#bal_date").datepicker({ changeMonth: true, changeYear: true });
        function findFitTotal() {
            var fitTotalVal = 0;
            $('#fitTable input').each(function () {
                $('#fitTd_' + $(this).attr('multi')).text(roundNumber(parseFloat($(this).attr('multi')) * (($(this).val() == '') ? 0 : parseFloat($(this).val()))));
                fitTotalVal += ($('#fitTd_' + $(this).attr('multi')).text() == '') ? 0 : parseFloat($('#fitTd_' + $(this).attr('multi')).text());
            });
            fitTotalVal = roundNumber(fitTotalVal);
            $('#fitTotalText').text(fitTotalVal);
            $('#fit_total').val(fitTotalVal);
            $('.currencyLabel').formatCurrency({ symbol: '' });
        }
        function findCoinTotal() {
            var coinTotalVal = 0;
            $('#coinTable input').each(function () {
                $('#coinTd_' + $(this).attr('multi').replace('.', '')).text(roundNumber(parseFloat($(this).attr('multi')) * (($(this).val() == '') ? 0 : parseFloat($(this).val()))));
                coinTotalVal += ($('#coinTd_' + $(this).attr('multi').replace('.', '')).text() == '') ? 0 : parseFloat($('#coinTd_' + $(this).attr('multi').replace('.', '')).text());
            });
            coinTotalVal = roundNumber(coinTotalVal);
            $('#coinTotalText').text(coinTotalVal);
            $('#co_total').val(coinTotalVal);
            $('.currencyLabel').formatCurrency({ symbol: '' });
        }
        function updateCash() {
            var totalCash = 0;
            if ($('#fit_total').val() != '') {
                totalCash += parseFloat($('#fit_total').val());
            }
            if ($('#co_total').val() != '') {
                totalCash += parseFloat($('#co_total').val());
            }
            totalCash = roundNumber(totalCash);
            $('#verifyTotalSpan').text(totalCash);
            $('.currencyLabel').formatCurrency({ symbol: '' });
        }
        function roundNumber(n) {
            return n.toFixed(2);
        }
        $('#verifyCashDiv input').live("keypress", function (e) {
            if (e.keyCode == 13) {
                var inputs = $('#verifyCashDiv input');
                var idx = inputs.index(this);
                if (idx == inputs.length - 1) {
                    inputs[0].select()
                } else {
                    inputs[idx + 1].focus();
                    inputs[idx + 1].select();
                }
                return false;
            }
        });
        function checkStore() {
            if ($('#store_id').val() == 0) {
                alert('Please select StoreID');
            } else if ($('#shift_num').val() == 0) {
                alert('Please select Shift');
            } else {
                document.myHomeForm.submit();
            }
        }
        $(document).ready(function () {

        });
        function showVerifyPopup() {
            $("#verifyCashDiv").dialog({
                height: 550,
                width: 640,
                modal: true,
                resizable: false,
                autoOpen: true,
                buttons: {
                    "Ok": function () {
                        $('#next_begin_bal').val($('#verifyTotalSpan').text());
                        $(this).dialog("close");
                    }
                }
            });
            $('.currencyLabel').formatCurrency({ symbol: '' });
        }
        function balVerified() {
            $('#next_begin_balance1').val($('#next_begin_bal').val());
            $('#next_notes1').val($('#next_notes').val());
            document.dialogForm.submit();
        }
    </script>
</section>
