﻿
@{
    ViewBag.Title = "EditCustomerIdentification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<E_MoneyExpress.Models.CustomerImage>
@using E_MoneyExpress.Models

<style>
    body {
        margin-top: 40px;
    }

    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 50%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>
<section>

    <div class="container-fluid">
        <br>
        <div class="stepwizard col-md-offset-2">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled">1</a>
                    <p>Step 1</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-primary btn-circle" disabled="disabled">2</a>
                    <p>Step 2</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                    <p>Step 3</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" pull-right">
                <a class="btn btn-primary" href="@Url.Action("CustomerNewIdentification", "Home", new { Customer_Id = ViewBag.Customer_Id })">Add New Identification</a>
                <br>
            </div>
        </div>

        <div>
            <br /><strong style="color: red;">@ViewBag.message</strong>
        </div>

        @{
            string images = "";
            foreach (CustomerImage ci in Model)
            {
                images += ci.Id + ",";
                <form method="post" action="@Url.Action("UpdateCustomerIdentification", "Home")" enctype="multipart/form-data" id="background">

                    <div class="row setup-content" id="step-2">
                        <div class="">
                            <div class="col-md-12">
                                <a href="@Url.Action("DeleteCustomerIdentification", "Home", new { Id = ci.Id, Customer_Id = ci.Customer_Id })">
                                    <button type="button" class="close pull-right" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>

                                    </button>
                                </a>
                                <input type="hidden" name="Identification" value="@ci.Identification">
                                <input type="hidden" id="Customer_Id" name="Customer_Id" value="@ViewBag.Customer_Id">
                                <input type="hidden" name="Id" value="@ci.Id">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Identification<span class="mandatory">*</span></h3>
                                        <div>
                                            <fieldset id="group1" disabled>
                                                @if (ci.Identification == "Drivers License")
                                                {
                                                    <input type="radio" value="Drivers License" checked><label> Drivers License</label>
                                                }
                                                else
                                                {
                                                    <input type="radio" value="Drivers License"><label> Drivers License</label>
                                                }
                                                @if (ci.Identification == "State ID")
                                                {
                                                    <input type="radio" value="State ID" checked> <label> State ID</label>
                                                }
                                                else
                                                {
                                                    <input type="radio" value="State ID"> <label> State ID</label>
                                                }
                                                @if (ci.Identification == "Passport")
                                                {
                                                    <input type="radio" value="Passport" checked> <label> Passport</label>
                                                }
                                                else
                                                {
                                                    <input type="radio" value="Passport"> <label> Passport</label>
                                                }
                                                @if (ci.Identification == "Alient Card")
                                                {
                                                    <input type="radio" value="Alient Card" checked><label> Alient Card</label>
                                                }
                                                else
                                                {
                                                    <input type="radio" value="Alient Card"><label> Alient Card</label>
                                                }
                                                @if (ci.Identification == "Electoral Voter ID Card")
                                                {
                                                    <input type="radio" value="Electoral Voter ID Card" checked><label> Electoral Voter ID Card</label>
                                                }
                                                else
                                                {
                                                    <input type="radio" value="Electoral Voter ID Card"><label> Electoral Voter ID Card</label>
                                                }
                                                @if (ci.Identification == "Consulate ID Card")
                                                {
                                                    <input type="radio" value="Consulate ID Card" checked><label> Consulate ID Card</label>
                                                }
                                                else
                                                {
                                                    <input type="radio" value="Consulate ID Card"><label> Consulate ID Card</label>
                                                }
                                                @if (ci.Identification == "Other")
                                                {
                                                    <input type="radio" value="Other" checked><label>  Other </label>
                                                }
                                                else
                                                {
                                                    <input type="radio" value="Other"><label>  Other </label>
                                                }
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>Upload Image<span class="mandatory">*</span><br /><input style="width:200px;" type="file" onchange="ImageOnClick('@ci.Identification',@ci.Id)" id="identificationimage @ci.Id" name="file" required /></p>
                                    </div>
                                    <div class="col-md-8">

                                        <img id="my_image @ci.Id" src="@Url.Content("http://e-moneyexpress.apphb.com//" + ci.ImageUrl + "?" + ViewBag.d)" width="200" height="200" style="background-color:white;" accept="image/*" />
                                        <input type="text" id="imagebase @ci.Id" hidden />
                                        <input type="text" id="imageurl @ci.Id" name="ImageUrl" hidden />

                                    </div>
                                </div>
                                <button class="btn btn-primary pull-right" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </form>

                <br>
            }
            <input type="text" id="imageids" hidden value="@images" />
        }
        <a class="btn btn-success pull-right" href="@Url.Action("CheckCustomerIdentification", "Home", new { Customer_Id = ViewBag.Customer_Id })">Next</a>

    </div>
</section>

            <script>

    $(document).ready(function () {
        var imagesids = document.getElementById('imageids').value;
        var ids = imagesids.split(",");
        for (var i = 0; i < ids.length-1;i++){
            var c = $("#my_image\\ " + ids[i]).attr("src");
            var a = c + "?" + new Date().getTime();
            $("#my_image\\ " + ids[i]).attr("src", a);
    }

    });

    function ImageOnClick(identify, id) {
        var identificationimage = document.getElementById('identificationimage ' + id);
        getBase64(identificationimage, id);
        var counter = 2;
        var interval;
        interval = setInterval(function () {
            counter--;
            if (counter < 0) {
                var stringbase64 = document.getElementById('imagebase ' + id).value;
                ImageAjaxCall(identify, stringbase64, id);
                clearInterval(interval);
            } else {

            }
        }, 200);
    }

    function getBase64(element,id) {
        var file = element.files[0];

        var reader = new FileReader();

        reader.onloadend = function () {

            var imagebase = document.getElementById('imagebase '+id);
            imagebase.value = reader.result;
        }

        reader.readAsDataURL(file);


    }

    function ImageAjaxCall(Ident, imagestring,id) {
        var customer_id = $("#Customer_Id").val();
        $.ajax({
            dataType: "json",
            type: "POST",
            url: '@Url.Action("UpdateCustomerImage", "Home")',
            data: { imagebase: imagestring, Identification: Ident, Customer_Id: customer_id },
            dataType: "json",
            traditional: true,
            success: function (response) {
                var imageurl = response;
                if (imageurl != null)
                {
                    var a = "http://e-moneyexpress.apphb.com//" + imageurl + "?" + new Date().getTime();
                    $("#my_image\\ " + id).attr("src",a );
                    $("#imageurl\\ "+id).val(imageurl);
                }
            },
            error: function (response) { alert('Error' ); }

        });

    }

            </script>

