﻿
@{
    ViewBag.Title = "EditCustomerTransactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        margin-top: 40px;
    }

    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 50%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>
<section>

    <div class="container-fluid">
        <br>
        <div class="stepwizard col-md-offset-3">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled">1</a>
                    <p>Step 1</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                    <p>Step 2</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-primary btn-circle" disabled="disabled">3</a>
                    <p>Step 3</p>
                </div>
            </div>
        </div>

        <form method="post" action="#" id="background">
            <div class="row setup-content" id="step-3">
                <div class="">
                    <div class="col-md-12">
                        <h3> Step 3</h3>
                        <div class="row">
                            <input type="hidden" name="Customer_Id" value="" />
                            <div class="userInfo">
                                <div>
                                    <label>Customer Name: </label><span id="customerName"></span>
                                    <label style="padding-left:50px">Customer ID#: </label><span id="customerID"></span>
                                    <label style="padding-left:50px">No. of Transactions#: </label><span id="numTran"></span>
                                    <label style="padding-left:50px">Total: </label><span id="totalTran"></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <button class="btn btn-success pull-right" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

