﻿
@{
    ViewBag.Title = "EditCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model E_MoneyExpress.Models.Customer
@using E_MoneyExpress.Models


<style>
    body {
        margin-top: 40px;
    }

    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 50%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>

<script type="text/javascript">
    var datefield = document.createElement("input")
    datefield.setAttribute("type", "date")
    if (datefield.type != "date") { //if browser doesn't support input type="date", load files for jQuery UI Date Picker
        document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n')
    }
</script>
<br>
<section>
    <div class="container-fluid">

        <div class="stepwizard col-md-offset-2">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-primary btn-circle" disabled="disabled">1</a>
                    <p>Step 1</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                    <p>Step 2</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                    <p>Step 3</p>
                </div>
            </div>
        </div>
        <form role="form" method="post" action="@Url.Action("UpdateCustomer", "Home")" id="background">
            <input type="hidden" value="@Model.User_Id" name="User_Id" id="teller_id">
            <input type="hidden" value="@Model.Id" name="Id" id="id">
            <input type="hidden" value="@Model.IsActive" name="IsActive">

            <div class="row setup-content" id="step-1">
                <div class="col-md-12">
                    <h3> Edit Customer</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <p>First Name<span class="mandatory">*</span><br /><input type="text" name="FirstName" id="firstname" value="@Model.FirstName" class="form-control" required /></p>
                        </div>
                        <div class="col-md-4">
                            <p>Last Name 1<span class="mandatory">*</span><br /><input type="text" name="LastName1" id="lastname1" value="@Model.LastName1" class="form-control" required /></p>
                        </div>
                        <div class="col-md-4">
                            <p>Last Name 2<br /><input type="text" name="LastName2" id="lastname2" value="@Model.LastName2" class="form-control" /></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Birth Date<span class="mandatory">*</span><br /><input type="date" name="DOB" id="birth_date" style="width:203px;" value='@Model.DOB.ToString("yyyy-MM-dd")' class="form-control" required /></p>
                        </div>
                        <div class="col-md-4">
                            <p>Social Security#<span class="mandatory">*</span><br /><input type="number" name="SocialSecurityNumber" id="ssn_id" required value="@Model.SocialSecurityNumber" class="form-control" /> </p>
                        </div>
                        <div class="col-md-4">
                            <p>ID#<span class="mandatory">*</span><br /> <input type="number" required id="identity_id" value="@Model.IdNumber" name="IdNumber"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>
                                State<span class="mandatory">*</span> <br /><input type="text" style="width:203px;" required value="@Model.State" id="identity_issue_state" name="State">
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p><span>Exp Date<span class="mandatory">*</span> <br /><input type="date" value='@Model.ExpiryDate.ToString("yyyy-MM-dd")' style="width:203px;" required class="form-control" id="identity_exp" name="ExpiryDate"></span>
                        </div>

                    </div>
                    <h3>Personal Data</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Phone<span class="mandatory">*</span><br><input type="text" required id="phone1" value="@Model.Phone" name="Phone"></p>
                            <span>(format: xxxx-xxx-xxxx)</span> 
                            <p><br />Alternative Phone<br><input type="text" id="phone2" value="@Model.AlternativePhone" name="AlternativePhone"></p>
                            <span>(format: xxxx-xxx-xxxx)</span> 
                        </div>
                        <div class="col-md-8">
                            <p>Address<span class="mandatory">*</span><br><textarea id="address" name="Address" class="form-control" required style="width:285px;height:90px;">@Model.Address</textarea></p>
                        </div>
                    </div>
                    <h3>Employee Data</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Employer Name<span class="mandatory">*</span><br><input type="text" required id="emp_name" value="@Model.EmployerName" name="EmployerName"></p>
                            <p><br />Employer Phone<span class="mandatory">*</span><br><input type="text" required id="emp_phone" value="@Model.EmployerPhone" name="EmployerPhone"></p>
                            <span>(format: xxxx-xxx-xxxx)</span> 
                        </div>
                        <div class="col-md-8">
                            <p>Address<span class="mandatory">*</span><br><textarea id="emp_address" class="form-control" required name="EmployerAddress" style="width:285px;height:90px;">@Model.EmployerAddress</textarea></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <p><br />Notes<span class="mandatory">*</span><br /><textarea name="Note" class="form-control" id="notes" rows="4" style="width:100%;">@Model.Note</textarea></p>
                        </div>
                    </div>
                    <button class="btn btn-primary pull-right" type="submit">Save & Continue</button>
                </div>
            </div>
        </form>
    </div>
</section>

            <script type="text/javascript">

                var elmt0 = document.getElementById('firstname');

                elmt0.addEventListener('keydown', function (event) {
                    if (elmt0.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });


                var elmt3 = document.getElementById('lastname1');

                elmt3.addEventListener('keydown', function (event) {
                    if (elmt3.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });
                var elmt4 = document.getElementById('lastname2');

                elmt4.addEventListener('keydown', function (event) {
                    if (elmt4.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });
                var elmt5 = document.getElementById('birth_date');

                elmt5.addEventListener('keydown', function (event) {
                    if (elmt5.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });
                var elmt6 = document.getElementById('ssn_id');

                elmt6.addEventListener('keydown', function (event) {
                    if (elmt6.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });
                var elmt7 = document.getElementById('identity_id');

                elmt7.addEventListener('keydown', function (event) {
                    if (elmt7.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });
                var elmt8 = document.getElementById('identity_issue_state');

                elmt8.addEventListener('keydown', function (event) {
                    if (elmt8.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });
                var elmt10 = document.getElementById('identity_exp');

                elmt10.addEventListener('keydown', function (event) {
                    if (elmt10.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });
                var elmt11 = document.getElementById('phone1');

                elmt11.addEventListener('keydown', function (event) {
                    if (elmt11.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });
                var elmt12 = document.getElementById('phone2');

                elmt12.addEventListener('keydown', function (event) {
                    if (elmt12.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });

                var elmt13 = document.getElementById('address');

                elmt13.addEventListener('keydown', function (event) {
                    if (elmt13.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });

                var elmt14 = document.getElementById('emp_name');

                elmt14.addEventListener('keydown', function (event) {
                    if (elmt14.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });

                var elmt15 = document.getElementById('emp_phone');

                elmt15.addEventListener('keydown', function (event) {
                    if (elmt15.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });


                var elmt16 = document.getElementById('emp_address');

                elmt16.addEventListener('keydown', function (event) {
                    if (elmt16.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });

                var elmt17 = document.getElementById('notes');

                elmt17.addEventListener('keydown', function (event) {
                    if (elmt17.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });

                if (datefield.type != "date") { //if browser doesn't support input type="date", initialize date picker widget:
                    jQuery(function ($) { //on document.ready
                        $('#birth_date').datepicker();
                        $('#identity_exp').datepicker();
                    })
                }

                $(document).ready(function () {
                    $('#dvContents').hide();
                });

                $(function () {
                    $("#btnPrint").click(function () {
                        var contents = $("#dvContents").html();
                        var frame1 = $('<iframe />');
                        frame1[0].name = "frame1";
                        frame1.css({ "position": "absolute", "top": "-1000000px" });
                        $("body").append(frame1);
                        var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
                        frameDoc.document.open();
                        //Create a new HTML document.
                        frameDoc.document.write('<html><head><title>E-money Express</title>');
                        frameDoc.document.write('<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />');
                        frameDoc.document.write(contents);
                        frameDoc.document.write('</body></html>');
                        frameDoc.document.close();
                        setTimeout(function () {
                            window.frames["frame1"].focus();
                            window.frames["frame1"].print();
                            frame1.remove();
                        }, 500);
                    });
                });
            </script>
