﻿@{
    ViewBag.Title = "FindCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<E_MoneyExpress.Models.Customer>
@using E_MoneyExpress.Models
<link href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.4/dist/css/lightgallery.min.css" rel="stylesheet" />
<!-- Slickgrid -->
<link rel="stylesheet" href="~/Content/Assets/wizard.css" type="text/css" />
<link rel="stylesheet" href="~/Content/Assets/slick.grid.css" type="text/css" />
<link rel="stylesheet" href="~/Content/Assets/jquery-ui-1.10.2.custom.min.css" type="text/css" />
<link rel="stylesheet" href="~/Content/Assets/slick_default_theme.css" type="text/css" />
<link rel="stylesheet" href="~/Content/Assets/table.css">
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<script src="~/Content/Assets/jquery-ui-1.10.2.custom.min.js"></script>
<script src="~/Content/Assets/jquery.event.drag-2.0.min.js"></script>
<script src="~/Content/Assets/slick.core.js"></script>
<script src="~/Content/Assets/slick.grid.js"></script>
<script src="~/Content/Assets/jquery.watermark.min.js"></script>
<script src="~/Content/Assets/jquery.iframe-post-form.js"></script>
<script src="~/Content/Assets/jquery.showLoading.js"></script>
<script src="~/Content/Assets/jquery.inputmask.js"></script>
<script src="~/Content/Assets/jquery.formatCurrency-1.4.0.min.js"></script>
<script src="~/Content/Assets/si.files.js"></script>

<style type="text/css" title="text/css">
    body {
        margin-top: 40px;
    }

    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 50%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>
<section>
    <br>
    <div class="container-fluid">

        <div class="stepwizard col-md-offset-2">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-primary btn-circle" disabled="disabled">1</a>
                    <p>Step 1</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                    <p>Step 2</p>
                </div>
            </div>
        </div>

        <h2>Customer</h2>

        <div id="step1Search">
            <div class="pContent searchBar">
                    <span class="subHeading">Lookup Customer</span>&nbsp;
                    <input type="text" name="Firstname" id="FirstName" value="" placeholder="First Name" required />&nbsp;
                    <input type="text" name="IdNumber" id="IdNumber" value="" placeholder="Customer Number" />&nbsp;
                    <input type="text" name="Phone" id="Phone" value="" placeholder="Phone Number" />&nbsp;
                    <a onclick="firstnamesearch();" class="button small blue" style="margin-bottom:0px;"><span>Search</span></a>
            </div>
            <div>
                <div class="divLeft pContent subHeading" id="custListHeading">Recently Added</div>
                <div class="linkRight"><a href="@Url.Action("AddCustomer", "Home")">Add New Customer</a></div>
                <div style="clear:both;"></div>
            </div>
            <div>
                <form method="post" action="@Url.Action("ShowTransaction", "Home")">
                    <div id="searchresult">
                        <div id="hideid" class="container-fluid">
                            <div class="table-responsive">
                                <table id="example" class="table " cellspacing="0">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Select</th>
                                            <th>First Name</th>
                                            <th>Last Name 1</th>
                                            <th>Last Name 2</th>
                                            <th>ID Type</th>
                                            <th>Customer#</th>
                                            <th>Exp Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Customer c in Model.ToList())
                                        {
                                            <tr>
                                                <td><input type="radio" name="Id" value="@c.Id" /></td>
                                                <td><a href="@Url.Action("CustomerProfile", "Home", new { Id = c.Id })">@c.FirstName</a></td>
                                                <td><a href="@Url.Action("CustomerProfile", "Home", new { Id = c.Id })">@c.LastName1</a></td>
                                                <td><a href="@Url.Action("CustomerProfile", "Home", new { Id = c.Id })">@c.LastName2</a></td>
                                                @if (@c.CustomerImages.Count() == 0)
                                                {
                                                    <td>No Identification</td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <div id="relative-caption1">
                                                            @foreach (CustomerImage ci in @c.CustomerImages.ToList())
                                                            {
                                                                <a href="http://e-moneyexpress.apphb.com/@ci.ImageUrl" data-sub-html=".caption"> @ci.Identification  </a>
                                                            }
                                                        </div>
   
                                                    </td>
                                                }
                                                <td>@c.IdNumber</td>
                                                <td>@c.ExpiryDate.ToString("MM/dd/yyyy")</td>
                                                <td>
                                                    <a href="@Url.Action("EditCustomer", "Home", new { Id = c.Id })"> Edit</a>
                                                    <a href="#"> Reports</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="divLeft">
                        <button type="submit" class="button medium green centerButton"><span>Select &amp; Proceed</span></button>
                    </div>
                </form>
            </div>
            <div style="clear:both;"></div>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.4/dist/js/lightgallery.min.js"></script>
    @*<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>*@
    <script>
       

        $(function () {
            $("#example").dataTable();
            $("#example_filter").hide();
        })

        function firstnamesearch() {
            var trobject = "";
            var FirstName = document.getElementById("FirstName").value;
            var IdNumber = document.getElementById("IdNumber").value;
            var Phone = document.getElementById("Phone").value;

            $.ajax({
                dataType: "json",
                type: "GET",
                url: '@Url.Action("SearchCustomer", "Home")',
                        contentType: "application/json; charset=utf-8",
                        data: { FirstName: FirstName, IdNumber: IdNumber, Phone:Phone },
                        success: function (response) {

                            var i = 0;
                            var trobject = '<div id="test" class="container-fluid"><div class="table-responsive" ><table id="tableid" class="table table-bordered table-striped" cellspacing="0"><thead class="thead-default"><tr><th>Select</th><th>First Name</th><th>Last Name 1</th><th>Last Name 2</th><th>ID Type</th><th>Customer#</th><th>Exp Date</th><th>Action</th></tr></thead ><tbody>';

                            $.each(response, function () {
                                trobject = trobject + '<tr><td>' + '<input type="radio" name="Id" value="' + parseInt(response[i].Id) + '" />' + '</td><td>' + response[i].FirstName + '</td><td>' + response[i].LastName1
                                    + '</td><td>' + response[i].LastName2 + '</td>';
                                var typeid = '<div id="relative-caption">'; var ii = 0;

                                $.each(response[i].CustomerImages, function () {
                                    typeid += ' <a href=\"http://e-moneyexpress.apphb.com/'+response[i].CustomerImages[ii].ImageUrl+'" data-sub-html=".caption">'+response[i].CustomerImages[ii].Identification+'</a>'+' '; 
                                    ii++;
                                });
                                typeid +='</div>';
                                //if (typeid != "") {
                                //    typeid = typeid.substring(0, typeid.length - 2);
                                //}

                                trobject = trobject + '<td>' + typeid + '</td><td>' + response[i].IdNumber + '</td><td>' + response[i].Note + '</td><td>';


                                trobject = trobject + '<a href="EditCustomer/' + response[i].Id + '"> Edit</a><a href="#"> Reports</a></td>';
                                trobject = trobject + '</tr>';
                                i++;
                            });

                            $('#searchresult').html('');
                            trobject = trobject + '</tbody></table></div></div>';
                            $('#searchresult').append(trobject);
                            $('#hideid').hide();
                            $('#tableid').dataTable({

                            });
                            $('#tableid_filter').hide();
                            $('#relative-caption').lightGallery({
                                subHtmlSelectorRelative: true
                            });
                        },
                        error: function (response) {
                            alert("error");
                        }

                    });
        }

            $("#FirstName").keypress(function (event) {

                if (event.which == 13) {

                    firstnamesearch();
                }
        });

            $("#IdNumber").keypress(function (event) {

                if (event.which == 13) {

                    firstnamesearch();
                }
            });

            $("#Phone").keypress(function (event) {

                if (event.which == 13) {

                    firstnamesearch();
                }
            });
            $('#relative-caption1').lightGallery({
                subHtmlSelectorRelative: true
            });
    </script>
</section>
