﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<br />
<div class="text-center">
    <strong style="color: red;">@ViewBag.message</strong>
</div>
<div class="main-login main-center">
    <form class="form-horizontal" method="post" action="@Url.Action("PostLogin", "Auth")">
        <div class="form-group">
            <label for="username" class="cols-sm-2 control-label">Email <span class="text-danger">*</span></label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input type="email" class="form-control input-sm" name="Email" id="username" placeholder="Enter your Email" required />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="cols-sm-2 control-label">Password <span class="text-danger">*</span></label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control input-sm" name="Password" id="password" placeholder="Enter your Password" required />
                </div>
            </div>
        </div>
        @*<div class="form-group">
            <div class="cols-sm-10">
                <input type="checkbox" name="" /> Remember me
            </div>
        </div>*@
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-sm login-button btn">Log In <span class="glyphicon glyphicon-log-in"></span></button>
        </div>
        <div class=" text-center">
            <a href="@Url.Action("EmailVerification", "Auth")" class="login-btn">Forget Password</a>
        </div>
    </form>
</div>


<script type="text/javascript">

    var elmt0 = document.getElementById('username');
    elmt0.addEventListener('keydown', function (event) {
        if (elmt0.value.length === 0 && event.which === 32) {
            event.preventDefault();
        }
    });


    var elmt3 = document.getElementById('password');
    elmt3.addEventListener('keydown', function (event) {
        if (elmt3.value.length === 0 && event.which === 32) {
            event.preventDefault();
        }
    });

</script>
