﻿@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model E_MoneyExpress.Models.User
@using E_MoneyExpress.Models

<style>
    input[type="email"], select {
        border: none;
        border: 1px solid #A4A4A4;
        font-size: 14px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        width: 200px;
        padding: 5px;
    }

</style>

<section>
    <div id="err_div" style="display:none;">
        <div class="status " id="inside_err">
            
            
        </div>
    </div>
    <h2>My Account</h2> 
  
       <strong style="color: red;">@ViewBag.message</strong>
       
    <form name="myAccountForm" action="@Url.Action("PostMyAccount", "Home")" method="post">
        
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="formSection">
            <h3>Personal Details</h3>
            <div class="formLeft">
                <p>Username<span class="mandatory">*</span><br /><input type="text" name="Username" id="username" value="@Model.Username" required /></p>
            </div>
            <div class="formLeft">
                <p>Email<span class="mandatory">*</span><br /><input type="email" name="Email" value="@Model.Email" required /></p>
            </div>
            <div style="clear:both;"></div>
            <div class="formLeft">
                <p>First Name<span class="mandatory">*</span><br /><input type="text" name="FirstName" id="first_name" value="@Model.FirstName" required /></p>
            </div>
            <div class="formLeft">
                <p>Last Name<span class="mandatory">*</span><br /><input type="text" name="LastName" id="last_name" value="@Model.LastName" required /> </p>
            </div>
            <div style="clear:both;"></div>
            <div class="formLeft">
                <p>Phone<span class="mandatory">*</span><br /><input type="text" name="Phone" id="phone" value="@Model.Phone" required /></p>
            </div>
            <div style="clear:both;"></div>
            <h3>Change Password</h3>
            <div class="formLeft">
                <p>New Password<br /><input type="password" name="Password" id="password"  /></p>
            </div>
            <div class="formLeft">
                <p>Confirm Password<br /><input type="password" name="ConfirmPassword" id="cpassword" /> </p>
            </div>
            <div style="clear:both;"></div>
            <button class="button medium green bottomButton" type="submit"><span>Update</span></button>
            <a class="button medium green bottomButton" href="@Url.Action("Dashboard", "Home")"><span>Cancel</span></a>
        </div>
    </form>
</section>




