﻿
@{
    ViewBag.Title = "RecentSheets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div id="err_div" style="display:none;">
        <div class="status " id="inside_err">
            <p>

                <img src="" />
            </p>
        </div>
    </div>
    <!-- Slickgrid -->
    <link rel="stylesheet" href="~/Content/Assets/slick.grid.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Assets/jquery-ui-1.10.2.custom.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Assets/slick_default_theme.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Assets/table.css" />
    <script src="~/Content/Assets/jquery.event.drag-2.0.min.js"></script>
    <script src="~/Content/Assets/slick.core.js"></script>
    <script src="~/Content/Assets/slick.grid.js"></script>
    <script src="~/Content/Assets/jquery.formatCurrency-1.4.0.min.js"></script>

    <div>
        <h2 class="h2Left">Recent Balances</h2>
        <div style="clear:both;"></div>
    </div>

    <div>

        <form name="balForm" id="balForm" action="/admin/index" method="post">
            <input type="hidden" name="reviewed" id="reviewed" value="" />
            <input type="hidden" name="bal_id" id="bal_id" value="" />
        </form>
        <br />
        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-default">
                        <tr>
                            <th>Store Name</th>
                            <th>Shift</th>
                            <th>Date</th>
                            <th>Beginning</th>
                            <th>End</th>
                            <th>Checks</th>
                            <th>Submitted By</th>
                            <th>Action</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                            <td>Name</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>




