﻿
@{
    ViewBag.Title = "RecentTransactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<E_MoneyExpress.Models.Transaction>
@using E_MoneyExpress.Models

<section>
    <h2>Recent Transactions</h2>
    <br />
    <button id="btnPrint" class=" btn btn-primary pull-right" name=""> Print <span class="glyphicon glyphicon-print"></span></button>
    <br /><br /><br />
    <div id="hideid" class="container-fluid">
        <div class="table-responsive">
            <table id="example" class="table " cellspacing="0">
                <thead class="thead-default">
                    <tr>
                        <th>Date</th>
                        <th>Customer</th>
                        <th>File Number</th>
                        <th>Company Name</th>
                        <th>Type</th>
                        <th>Reference</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Transaction t in Model.ToList())
                {
                        <tr>
                            <td>@t.Date.ToString("dd/MM/yyyy")</td>
                            <td>@t.Customer.FirstName @t.Customer.LastName1 @t.Customer.LastName2</td>
                            <td>ABC</td>
                            <td>@t.CompanyName</td>
                            <td>@t.Type</td>
                            <td><a href="@Url.Action("TransactionDetails", "Home", new { Id = t.Id })">@t.ReferenceNumber</a></td>
                            @{
                            double Total = t.Amount + t.Fee;
                                <td>@Total</td>
                            }
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("EditTransaction", "Home", new { Id =  t.Id })"><i class="fa fa-edit">Edit</i></a>
                            </td>
                        </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</section>

<div class="container" id="dvContents">
    <div class="row">
        <div class="receipt-main ">
            <div class="row">
                <div class="receipt-header col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                    <div class="col-xs-6 col-sm-6 col-md-9">
                        <div class="receipt-left">
                            <img class="img-responsive" alt="Emoney Express" src="~/Content/logo.png" style="width: 200px;">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                        @*<div class="receipt-right">*@
                            <br /><br />
                            <h5>E-money Expresss</h5>
                            <p>+91 12345-6789 <i class="fa fa-phone"></i></p>
                            <p>info@gmail.com <i class="fa fa-envelope-o"></i></p>
                            <p>Australia <i class="fa fa-location-arrow"></i></p>
                        @*</div>*@
                    </div>
                </div>
            </div>

            <div id="hideid" class="container-fluid">
                <div class="table-responsive">
                    <table id="example" class="table " cellspacing="0">
                        <thead class="thead-default">
                            <tr>
                                <th>Date</th>
                                <th>Customer</th>
                                <th>File Number</th>
                                <th>Company Name</th>
                                <th>Type</th>
                                <th>Reference</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Transaction t in Model.ToList())
                            {
                                <tr>
                                    <td>@t.Date.ToString("dd/MM/yyyy")</td>
                                    <td>@t.Customer.FirstName @t.Customer.LastName1 @t.Customer.LastName2</td>
                                    <td>ABC</td>
                                    <td>@t.CompanyName</td>
                                    <td>@t.Type</td>
                                    <td>@t.ReferenceNumber</td>
                                    @{
                                        double Total = t.Amount + t.Fee;
                                        <td>@Total</td>
                                    }
                                </tr>
                                        }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row" style="margin-top:450px; border-top:2px solid black; bottom:0;">
                <div class="receipt-header receipt-header-mid receipt-footer">
                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-8 col-sm-8 col-md-11">
                        <div class="receipt-right">
                            <p><b>Date :</b> @DateTime.Now.ToString("dd/MM/yyyy")</p>
                            <h4 style="color: rgb(140, 140, 140);">Thank you for your business!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#dvContents').hide();
    });

    $(function () {
        $("#btnPrint").click(function () {
            var contents = $("#dvContents").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute", "top": "-1000000px" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title>E-money Express</title>');
            frameDoc.document.write('<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />');
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);
        });
    });
</script>