﻿
@{
    ViewBag.Title = "RecentSheets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div id="err_div" style="display:none;">
        <div class="status " id="inside_err">
            <p>

                <img src="" />
            </p>
        </div>
    </div>
    <!-- Slickgrid -->
    <link rel="stylesheet" href="~/Content/Assets/slick.grid.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Assets/jquery-ui-1.10.2.custom.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Assets/slick_default_theme.css" type="text/css" />
    <script src="~/Content/Assets/jquery.event.drag-2.0.min.js"></script>
    <script src="~/Content/Assets/slick.core.js"></script>
    <script src="~/Content/Assets/slick.grid.js"></script>
    <script src="~/Content/Assets/jquery.formatCurrency-1.4.0.min.js"></script>

    <div>
        <h2 class="h2Left">Recent Balances</h2>
        <div style="clear:both;"></div>
    </div>

    <div id="myGrid" style="width:100%;height:350px;border:1px solid #D6DEE3;"></div>

    <form name="balForm" id="balForm" action="/admin/index" method="post">
        <input type="hidden" name="reviewed" id="reviewed" value="" />
        <input type="hidden" name="bal_id" id="bal_id" value="" />
    </form>

    <script>
  var grid;
function formatter(row, cell, value, columnDef, dataContext) {
	return value;
}

  var columns = [
	{id: "sname", name: "Store Name", field: "sname"},
	{id: "shift", name: "Shift", field: "shift"},
	{id: "date", name: "Date", field: "date"},
	{id: "start", name: "Beginning", field: "start", cssClass: "column-amount-right currencyLabel", width: 50},
	{id: "end", name: "End", field: "end", cssClass: "column-amount-right currencyLabel", width: 50},
	{id: "check", name: "Checks", field: "check", cssClass: "column-amount-right currencyLabel", width: 50},
	{id: "submit", name: "Submitted By", field: "submit"},
	{id: "action", name: "Action", field: "action", formatter: formatter}
  ];

  var options = {
	enableCellNavigation: true,
	enableColumnReorder: false,
	forceFitColumns: true
  };

  $(function () {
	var data = [];
  data[0] = {
	sname: "E Money Express 3",
	shift: "First",
	date: "11/08/2017",
	start: "18994.60",
	end: "24639.55",
	check: "3340.30",
	submit: "Salvador Gomez",
		action: '<a href="/dashboard/balance/id/9274/act/view">View</a>&nbsp;<a href="/dashboard/balance/id/9274/act/edit">Edit</a>'
	  };
  data[1] = {
	sname: "E Money Express 8",
	shift: "First",
	date: "11/08/2017",
	start: "10346.60",
	end: "11423.10",
	check: "1650.55",
	submit: "Claudia Diaz",
		action: '<a href="/dashboard/balance/id/9273/act/view">View</a>&nbsp;<a href="/dashboard/balance/id/9273/act/edit">Edit</a>'
	  };
  data[2] = {
	sname: "E Money Express 2",
	shift: "First",
	date: "11/08/2017",
	start: "46234.20",
	end: "42916.20",
	check: "23451.53",
	submit: "claudia Lara",
		action: '<a href="/dashboard/balance/id/9272/act/view">View</a>&nbsp;<a href="/dashboard/balance/id/9272/act/edit">Edit</a>'
	  };
  data[3] = {
	sname: "E Money Express 7",
	shift: "First",
	date: "11/08/2017",
	start: "41719.45",
	end: "47342.20",
	check: "14174.99",
	submit: "Elizabeth Ochoa",
		action: '<a href="/dashboard/balance/id/9271/act/view">View</a>&nbsp;<a href="/dashboard/balance/id/9271/act/edit">Edit</a>'
	  };
  data[4] = {
	sname: "E Money Express 6",
	shift: "First",
	date: "11/08/2017",
	start: "73261.70",
	end: "65962.70",
	check: "16376.58",
	submit: "Luis Martinez ",
		action: '<a href="/dashboard/balance/id/9270/act/view">View</a>&nbsp;<a href="/dashboard/balance/id/9270/act/edit">Edit</a>'
	  };
  data[5] = {
	sname: "E Money Express 5",
	shift: "First",
	date: "11/08/2017",
	start: "105290.65",
	end: "119414.10",
	check: "17610.99",
	submit: "Clemen Maciel",
		action: '<a href="/dashboard/balance/id/9269/act/view">View</a>&nbsp;<a href="/dashboard/balance/id/9269/act/edit">Edit</a>'
	  };
  data[6] = {
	sname: "E Money Express 1",
	shift: "First",
	date: "11/08/2017",
	start: "0.00",
	end: "93771.90",
	check: "20613.35",
	submit: "Birmania Rodriguez",
		action: '<a href="/dashboard/balance/id/9268/act/view">View</a>&nbsp;<a href="/dashboard/balance/id/9268/act/edit">Edit</a>'
	  };
  data[7] = {
	sname: "E Money Express 3",
	shift: "First",
	date: "11/07/2017",
	start: "32331.90",
	end: "18994.60",
	check: "4817.65",
	submit: "Salvador Gomez",
		action: '<a href="/dashboard/balance/id/9267/act/view">View</a>&nbsp;<a href="/dashboard/balance/id/9267/act/edit">Edit</a>'
	  };
  data[8] = {
	sname: "E Money Express 8",
	shift: "First",
	date: "11/07/2017",
	start: "0.00",
	end: "10346.60",
	check: "2284.32",
	submit: "Luis Martinez ",
		action: '<a href="/dashboard/balance/id/9266/act/view">View</a>&nbsp;<a href="/dashboard/balance/id/9266/act/edit">Edit</a>'
	  };
  data[9] = {
	sname: "E Money Express 2",
	shift: "First",
	date: "11/07/2017",
	start: "47179.05",
	end: "46234.20",
	check: "32354.80",
	submit: "claudia Lara",
		action: '<a href="/dashboard/balance/id/9265/act/view">View</a>&nbsp;<a href="/dashboard/balance/id/9265/act/edit">Edit</a>'
	  };

	grid = new Slick.Grid("#myGrid", data, columns, options);
	$('.currencyLabel').formatCurrency({ symbol:'' });
  })
function noEditAccess()
{
	alert('Balances submitted in last 2 days can only be editable.');
}
function toggleStatus(itemId, active)
{
	var r=confirm("Are you sure want to change status?")
	if (r==true) {
		$('#bal_id').val(itemId);
		$('#reviewed').val(active);
		$('#balForm').submit();
	}
}
    </script>
</section>




