﻿
@{
    ViewBag.Title = "EditCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model E_MoneyExpress.Models.Customer
@using E_MoneyExpress.Models


<style>
    body {
        margin-top: 40px;
    }

    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 50%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>

<script type="text/javascript">
    var datefield = document.createElement("input")
    datefield.setAttribute("type", "date")
    if (datefield.type != "date") { //if browser doesn't support input type="date", load files for jQuery UI Date Picker
        document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n')
    }
</script>
<br>
<section>
    <div class="container-fluid">

        <div class="stepwizard col-md-offset-2">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-primary btn-circle" disabled="disabled">1</a>
                    <p>Step 1</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                    <p>Step 2</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                    <p>Step 3</p>
                </div>
            </div>
        </div>
        <div class="heading-elements pull-right">
            <button id="btnPrint" class=" btn btn-primary" name=""> Print <span class="glyphicon glyphicon-print"></span></button>
        </div>
        <form role="form" method="post" action="@Url.Action("UpdateCustomer", "Home")" id="background" class="cont">
            <input type="hidden" value="@Model.User_Id" name="User_Id" id="teller_id">
            <input type="hidden" value="@Model.Id" name="Id" id="id">
            <input type="hidden" value="@Model.IsActive" name="IsActive">

            <div class="row setup-content" id="step-1">
                <div class="col-md-12">
                    <h3> Edit Customer</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <p>First Name<span class="mandatory">*</span><br /><input type="text" name="FirstName" id="firstname" value="@Model.FirstName" class="form-control" required /></p>
                        </div>
                        <div class="col-md-4">
                            <p>Last Name 1<span class="mandatory">*</span><br /><input type="text" name="LastName1" id="lastname1" value="@Model.LastName1" class="form-control" required /></p>
                        </div>
                        <div class="col-md-4">
                            <p>Last Name 2<br /><input type="text" name="LastName2" id="lastname2" value="@Model.LastName2" class="form-control" /></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Birth Date<span class="mandatory">*</span><br /><input type="date" name="DOB" id="birth_date" style="width:203px;" value='@Model.DOB.ToString("yyyy-MM-dd")' class="form-control" required /></p>
                        </div>
                        <div class="col-md-4">
                            <p>Social Security#<span class="mandatory">*</span><br /><input type="number" name="SocialSecurityNumber" id="ssn_id" required value="@Model.SocialSecurityNumber" class="form-control" /> </p>
                        </div>
                        <div class="col-md-4">
                            <p>ID#<span class="mandatory">*</span><br /> <input type="number" required id="identity_id" value="@Model.IdNumber" name="IdNumber"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>
                                State<span class="mandatory">*</span> <br /><input type="text" style="width:203px;" required value="@Model.State" id="identity_issue_state" name="State">
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p><span>Exp Date<span class="mandatory">*</span> <br /><input type="date" value='@Model.ExpiryDate.ToString("yyyy-MM-dd")' style="width:203px;" required class="form-control" id="identity_exp" name="ExpiryDate"></span>
                        </div>

                    </div>
                    <h3>Personal Data</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Phone<span class="mandatory">*</span><br><input type="text" required id="phone1" value="@Model.Phone" name="Phone"></p>
                            <p>Alternative Phone<br><input type="text" id="phone2" value="@Model.AlternativePhone" name="AlternativePhone"></p>
                        </div>
                        <div class="col-md-8">
                            <p>Address<span class="mandatory">*</span><br><textarea id="address" name="Address" class="form-control" required style="width:285px;height:90px;">@Model.Address</textarea></p>
                        </div>
                    </div>
                    <h3>Employee Data</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Employer Name<span class="mandatory">*</span><br><input type="text" required id="emp_name" value="@Model.EmployerName" name="EmployerName"></p>
                            <p>Employer Phone<span class="mandatory">*</span><br><input type="text" required id="emp_phone" value="@Model.EmployerPhone" name="EmployerPhone"></p>
                        </div>
                        <div class="col-md-8">
                            <p>Address<span class="mandatory">*</span><br><textarea id="emp_address" class="form-control" required name="EmployerAddress" style="width:285px;height:90px;">@Model.EmployerAddress</textarea></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <p>Notes<span class="mandatory">*</span><br /><textarea name="Note" class="form-control" id="notes" rows="4" style="width:100%;">@Model.Note</textarea></p>
                        </div>
                    </div>
                    <button class="btn btn-primary pull-right" type="submit">Save&Continue</button>
                </div>
            </div>
        </form>
    </div>
    @*<div class="row" id="dvContents">
            <style>
                table {
                    color: #333;
                    font-family: Helvetica, Arial, sans-serif;
                    width: 640px;
                    border-collapse: collapse;
                    border-spacing: 0;
                }

                td, th {
                    border: 1px solid transparent; /* No more visible border */
                    height: 30px;
                    transition: all 0.3s; /* Simple transition for hover effect */
                }

                th {
                    background: #DFDFDF; /* Darken header a bit */
                    font-weight: bold;
                }

                td {
                    background: #FAFAFA;
                    text-align: center;
                }

                /* Cells in even rows (2,4,6...) are one color */
                tr:nth-child(even) td {
                    background: #F1F1F1;
                }

                /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
                tr:nth-child(odd) td {
                    background: #FEFEFE;
                }

                tr td:hover {
                    background: #666;
                    color: #FFF;
                }
            </style>
            <Center><h2>Customer Profile</h2></Center>
            <br />

            <center>
                <table>
                    <tr>
                        <th >First Name: </th>
                        <td > @Model.FirstName</td>
                        <th >Last Name1: </th>
                        <td > @Model.LastName1</td>
                        <th>Last Name2: </th>
                        <td> @Model.LastName2</td>
                    </tr>

                    <tr>
                        <th>Birth Date: </th>
                        <td> @Model.DOB</td>
                        <th>Social Security#: </th>
                        <td> @Model.SocialSecurityNumber</td>
                        <th>ID#: </th>
                        <td> @Model.IdNumber</td>
                    </tr>
                    <tr>
                        <th>State: </th>
                        <td> @Model.State</td>
                        <th>Expiry Date: </th>
                        <td> @Model.ExpiryDate</td>
                    </tr>
                    <tr>
                        <th>Phone: </th>
                        <td> @Model.Phone</td>
                        <th>Alternative Phone: </th>
                        <td> @Model.AlternativePhone</td>
                        <th>Address: </th>
                        <td> @Model.Address</td>
                    </tr>
                    <tr>
                        <th>Employer Name: </th>
                        <td> @Model.EmployerName</td>
                        <th>Employer Phone: </th>
                        <td> @Model.EmployerPhone</td>
                        <th>Address: </th>
                        <td> @Model.EmployerAddress</td>
                    </tr>
                    <tr>
                        <th>Note: </th>
                        <td> @Model.Note</td>
                    </tr>
                </table>
            </center>
        </div>*@
</section>
<div class="container" id="dvContents">
    <div class="row">

        <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="receipt-header">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="receipt-left">
                            <img class="img-responsive" alt="iamgurdeeposahan" src="http://portal.emoneyexpress.com/images/logo.png" style="width: 200px;">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <div class="receipt-right">
                            <h5>E-money Expresss</h5>
                            <p>+91 12345-6789 <i class="fa fa-phone"></i></p>
                            <p>info@gmail.com <i class="fa fa-envelope-o"></i></p>
                            <p>Australia <i class="fa fa-location-arrow"></i></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="receipt-header receipt-header-mid">
                    <div class="col-xs-6 col-sm-6 col-md-6 text-left">
                        <div class="receipt-right">
                            <h3>Personal Information</h3>
                            <h4>@Model.FirstName   |   @Model.LastName1  @Model.LastName2</h4>
                            <p><b>Date Of Birth :</b> @Model.DOB.ToShortDateString()</p>
                            <p><b>Social Security# :</b> @Model.SocialSecurityNumber</p>
                            <p><b>ID# :</b> @Model.IdNumber</p>
                            <p><b>State :</b> @Model.State</p>
                            <p><b>Phone :</b> @Model.Phone</p>
                            <p><b>Alternative Phone:</b> @Model.AlternativePhone</p>
                            <p><b>Address :</b> @Model.Address</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="receipt-left">
                            <h3>Employee Information</h3>
                            <h4>@Model.EmployerName</h4>
                            <p><b>Employer Phone :</b> @Model.EmployerPhone</p>
                            <p><b>Employer Address :</b> @Model.EmployerAddress</p>
                            <p><b>Note :</b> @Model.Note</p>
                        </div>
                    </div>
                </div>
            </div>

            @*<div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-9">Payment for August 2016</td>
                                <td class="col-md-3"><i class="fa fa-inr"></i> 15,000/-</td>
                            </tr>
                            <tr>
                                <td class="col-md-9">Payment for June 2016</td>
                                <td class="col-md-3"><i class="fa fa-inr"></i> 6,00/-</td>
                            </tr>
                            <tr>
                                <td class="col-md-9">Payment for May 2016</td>
                                <td class="col-md-3"><i class="fa fa-inr"></i> 35,00/-</td>
                            </tr>
                            <tr>
                                <td class="text-right">
                                    <p>
                                        <strong>Total Amount: </strong>
                                    </p>
                                    <p>
                                        <strong>Late Fees: </strong>
                                    </p>
                                    <p>
                                        <strong>Payable Amount: </strong>
                                    </p>
                                    <p>
                                        <strong>Balance Due: </strong>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <strong><i class="fa fa-inr"></i> 65,500/-</strong>
                                    </p>
                                    <p>
                                        <strong><i class="fa fa-inr"></i> 500/-</strong>
                                    </p>
                                    <p>
                                        <strong><i class="fa fa-inr"></i> 1300/-</strong>
                                    </p>
                                    <p>
                                        <strong><i class="fa fa-inr"></i> 9500/-</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>

                                <td class="text-right"><h2><strong>Total: </strong></h2></td>
                                <td class="text-left text-danger"><h2><strong><i class="fa fa-inr"></i> 31.566/-</strong></h2></td>
                            </tr>
                        </tbody>
                    </table>
                </div>*@

            <div class="row" style="margin-top:450px; border-top:2px solid black; bottom:0;">
                <div class="receipt-header receipt-header-mid receipt-footer">
                    <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                        <div class="receipt-right">
                            <p><b>Date :</b> @DateTime.Now.ToString("dd/MM/yyyy")</p>
                            <h4 style="color: rgb(140, 140, 140);">Thank you for your business!</h4>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="receipt-left">
                            <h1></h1>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">

                var elmt0 = document.getElementById('firstname');

                elmt0.addEventListener('keydown', function (event) {
                    if (elmt0.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });


                var elmt3 = document.getElementById('lastname1');

                elmt3.addEventListener('keydown', function (event) {
                    if (elmt3.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });
                var elmt4 = document.getElementById('lastname2');

                elmt4.addEventListener('keydown', function (event) {
                    if (elmt4.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });
                var elmt5 = document.getElementById('birth_date');

                elmt5.addEventListener('keydown', function (event) {
                    if (elmt5.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });
                var elmt6 = document.getElementById('ssn_id');

                elmt6.addEventListener('keydown', function (event) {
                    if (elmt6.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });
                var elmt7 = document.getElementById('identity_id');

                elmt7.addEventListener('keydown', function (event) {
                    if (elmt7.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });
                var elmt8 = document.getElementById('identity_issue_state');

                elmt8.addEventListener('keydown', function (event) {
                    if (elmt8.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });
                var elmt10 = document.getElementById('identity_exp');

                elmt10.addEventListener('keydown', function (event) {
                    if (elmt10.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });
                var elmt11 = document.getElementById('phone1');

                elmt11.addEventListener('keydown', function (event) {
                    if (elmt11.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });
                var elmt12 = document.getElementById('phone2');

                elmt12.addEventListener('keydown', function (event) {
                    if (elmt12.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });

                var elmt13 = document.getElementById('address');

                elmt13.addEventListener('keydown', function (event) {
                    if (elmt13.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });

                var elmt14 = document.getElementById('emp_name');

                elmt14.addEventListener('keydown', function (event) {
                    if (elmt14.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });

                var elmt15 = document.getElementById('emp_phone');

                elmt15.addEventListener('keydown', function (event) {
                    if (elmt15.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });


                var elmt16 = document.getElementById('emp_address');

                elmt16.addEventListener('keydown', function (event) {
                    if (elmt16.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });

                var elmt17 = document.getElementById('notes');

                elmt17.addEventListener('keydown', function (event) {
                    if (elmt17.value.length === 0 && event.which === 32) {
                        event.preventDefault();
                    }
                });

                if (datefield.type != "date") { //if browser doesn't support input type="date", initialize date picker widget:
                    jQuery(function ($) { //on document.ready
                        $('#birth_date').datepicker();
                        $('#identity_exp').datepicker();
                    })
                }
                $(document).ready(function () {
                    $('#dvContents').hide();
                });

                $(function () {
                    $("#btnPrint").click(function () {
                        var contents = $("#dvContents").html();
                        var frame1 = $('<iframe />');
                        frame1[0].name = "frame1";
                        frame1.css({ "position": "absolute", "top": "-1000000px" });
                        $("body").append(frame1);
                        var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
                        frameDoc.document.open();
                        //Create a new HTML document.
                        frameDoc.document.write('<html><head><title>E-money Express</title>');
                        //frameDoc.document.write('</head><body>');
                        ////Append the external CSS file.
                        frameDoc.document.write('<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />');
                        ////Append the DIV contents.
                        //var source = 'https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js';
                        //var script = document.createElement('script');
                        //script.setAttribute('type', 'text/javascript');
                        //script.setAttribute('src', source);
                        //var source1 = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js';
                        //var script1 = document.createElement('script');
                        //script1.setAttribute('type', 'text/javascript');
                        //script1.setAttribute('src', source1);
                        frameDoc.document.write(contents);
                        frameDoc.document.write('</body></html>');
                        frameDoc.document.close();
                        setTimeout(function () {
                            window.frames["frame1"].focus();
                            window.frames["frame1"].print();
                            frame1.remove();
                        }, 500);
                    });
                });
            </script>
