﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using E_MoneyExpress.Models
<style>
    #verifyCashDiv {
        height: auto !important;
    }
</style>
<link rel="stylesheet" href="~/Content/Assets/table.css">
<link rel="stylesheet" href="~/Content/Assets/jquery-ui-1.10.2.custom.css">
<script src="~/Content/Assets/jquery-ui-1.10.2.custom.min.js"></script>
<script src="~/Content/Assets/jquery.watermark.min.js"></script>
<script src="~/Content/Assets/jquery.formatCurrency-1.4.0.min.js"></script>
<section>


    <div id="err_div">
        <div class="status success" id="inside_err">
            <p>
                <span class="glyphicon glyphicon-ok"></span> Welcome to e-moneyexpress
            </p>
        </div>
    </div>

    <h2>Dashboard</h2>

 
 

            <div class="userInfo" style="padding:15px;">
                <div>
                    <label>Select Date: </label>
                    <input type="text" name="bal_date" id="bal_date" style="width:150px;" value="@DateTime.Now.ToString("dd-MM-yyyy")" disabled />
                    <label style="margin-left:40px;">Store: </label>
                  
                   
                    <label style="padding-left:40px;">Select Shift: </label>
                    
                        <select name="Shift" id="shift_num" style="width:150px;" required>
                            <option value="">-Select-</option>
                            <option value=1>First</option>
                            <option value=2>Second</option>
                        </select>
                  
                        <select name="Shift" id="shift_num" style="width:150px;" required>
                            <option value="">-Select-</option>
                         
                                <option value=1 selected>First</option>
                                <option value=2>Second</option>
                           
                                <option value=1>First</option>
                                <option value=2 selected>Second</option>
                            
                        </select>
                    }&nbsp;
                    <button type="submit" class="button small green" style="margin-bottom:0px;margin-left:40px;"><span>Go</span></button>

                </div>
            </div>
            <div id="beginBalDiv"></div>
       
            <div class="userInfo" style="padding:15px;">
                <div>
                    <label>Select Date: </label>
                    <input type="text" name="bal_date" id="bal_date" style="width:150px;" value="@DateTime.Now.ToString("dd-MM-yyyy")" disabled />
                    <label style="margin-left:40px;">Store: </label>
                    
                        <select name="store_id" id="shift_num" style="width:150px;" required>
                            <option value="">-Select-</option>
                          
                                
                            
                        </select>
                    
                    <label style="padding-left:40px;">Select Shift: </label>
                   
                        <select name="Shift" id="shift_num" style="width:150px;" required>
                            <option value="">-Select-</option>
                            <option value=1>First</option>
                            <option value=2>Second</option>
                        </select>
                   
                        <select name="Shift" id="shift_num" style="width:150px;" required>
                            <option value="">-Select-</option>
                         
                                <option value=1 selected>First</option>
                                <option value=2>Second</option>
                           
                                <option value=1>First</option>
                                <option value=2 selected>Second</option>
                          
                        </select>
                    &nbsp;
                    <button type="submit" class="button small green" style="margin-bottom:0px;margin-left:40px;"><span>Go</span></button>

                </div>
            </div>
            <div id="beginBalDiv"></div>
        <div id="beginHideDiv">
           
                <input type="hidden" id="fitname1" name="fitsn" value="" />
                <input type="hidden" id="fitvalue1" name="fitsv" value="" />
                <input type="hidden" id="coinname1" name="coinsn" value="" />
                <input type="hidden" id="coinvalue1" name="coinsv" value="" />
                
                <div class="bodyLabel"><label>Closing balance after last shift:&nbsp;</label><b>$<span class="currencyLabel"></span></b>&nbsp;<span class="labelComment">(Please verify with balance money) <a class="button small blue centerButton" href="javascript:void(0);" onclick="showVerifyPopup();"><span>Verify</span></a></span></div>
                <div class="bodyLabel">
                    <label>Please enter beginning balance:&nbsp;$</label>
                    <input type="text" class="currencyLabel readonly" style="width:80px;" value="" id="next_begin_bal" name="OpeningBalance" required />
                </div>
                <div style="clear:both;"></div>
                <table class="bordered">
                    <thead>
                        <tr>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tr>
                        <td id="notestd">
                            <textarea class="notesta" name="Notes" id="next_notes"></textarea>
                        </td>
                    </tr>
                </table>
                <button type="submit" class="button medium green centerButton"><span>Submit Begining Balance</span></button>
            
        </div>
  

    <form name="dialogForm" action="/dashboard/index" method="post">
        <div id="verifyCashDiv" title="Verify Balance" style="display:none; overflow-x:hidden; height:auto !important;">
            <div id="verifyFit">
                <table id="fitTable" class="bordered">
                    <thead>
                        <tr>
                            <th>FIT</th>
                            <th>VALUE</th>
                            <th>AMOUNT($)</th>
                        </tr>
                    </thead>
                                <tr>


                                </tr>
                    <tr>

                        <td>TOTAL</td>
                        <td></td>
                        <td id="fitTotalText" class="currencyLabel"></td>
                    </tr>
                </table>
            </div>
            <div id="verifyCoin">
                <table id="coinTable" class="bordered">
                    <thead>
                        <tr>
                            <th>COINS</th>
                            <th>VALUE</th>
                            <th>AMOUNT($)</th>
                        </tr>
                    </thead>
                                <tr>
                     
                    <tr>
                        <td>TOTAL</td>
                        <td></td>
                        <td id="coinTotalText" class="currencyLabel"></td>
                    </tr>
                </table>
            </div>
            <div style="clear:both;"></div>
            <div class="userInfo" style="background-color:#D8F6CE;">
                <div><label>Total Amount: <span id="verifyTotalSpan" class="currencyLabel"></span></label></div>
            </div>
        </div>
        <input type="hidden" name="NEXT_BEGIN_BAL" id="next_begin_balance1" value="" />
        <input type="hidden" name="NEXT_NOTES" id="next_notes1" value="" />
    </form>
    <div id="balanceButtonDiv" style="display:none;">
        <a class="button medium green centerButton" href="/dashboard/balance" onclick=""><span>Enter Balance Sheet</span></a>
    </div>
    <div id="updateBalButtonDiv" style="display:none;">
    </div>


    





    <script>
        function showVerifyPopup() {
            $("#verifyCashDiv").dialog({
                height: 550,
                width: 640,
                modal: true,
                resizable: false,
                autoOpen: true,
                buttons: {
                    "Ok": function () {
                        $('#next_begin_bal').val($('#verifyTotalSpan').text());
                        $(this).dialog("close");
                    }
                }
            });
            $('.currencyLabel').formatCurrency({ symbol: '' });
        }
       
    </script>
</section>
