﻿
@{
    ViewBag.Title = "Transaction Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using E_MoneyExpress.Models
@model E_MoneyExpress.Models.Transaction

<section>
    <br />
    <button id="btnPrint" class=" btn btn-primary pull-right" name=""> Print <span class="glyphicon glyphicon-print"></span></button>

    <div class="container">
        <div class="row">
            <div class="receipt-main col-xs-10 col-sm-10 col-md-9">
                <div class="receipt-header receipt-header-mid">
                    <div class="col-xs-6 col-sm-6 col-md-6 ">
                        <div class="receipt-right ">
                            <h3 style="color: #00AEEF !important;">Transaction Details</h3>
                            <h4>Reference Number: @Model.ReferenceNumber</h4>
                            <p><b>Date:</b> @Model.Date.ToShortDateString()</p>
                            <p><b>Company Name:</b> @Model.CompanyName</p>
                            <p><b>Type :</b> @Model.Type</p>
                            <p><b>Amount :</b> @Model.Amount</p>
                            <p><b>Fee :</b> @Model.Fee</p>
                            @{ 
                                double sum = 0.0;
                                sum = sum + Model.Amount + Model.Fee;
                            }
                            <p><b>Total : </b> @sum</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="receipt-left">
            <h3 style="color: #00AEEF !important;">Customer Information</h3>
            <h4>@ViewBag.c.FirstName @ViewBag.c.LastName1 @ViewBag.c.LastName2</h4>
            <p><b>Date of Birth :</b> @ViewBag.c.DOB.ToShortDateString()</p>
            <p><b>Social Security Number :</b> @ViewBag.c.SocialSecurityNumber</p>
            <p><b>Customer Number :</b> @ViewBag.c.IdNumber</p>
            <p><b>State :</b> @ViewBag.c.State</p>
            <p><b>Expiry Date :</b> @ViewBag.c.ExpiryDate.ToShortDateString()</p>
            <p><b>Phone :</b> @ViewBag.c.Phone</p>
            <p><b>Address :</b> @ViewBag.c.Address</p>
        </div>
    </div>
                </div>
            </div>
        </div>         
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="receipt-main col-xs-10 col-sm-10 col-md-9">
                <br />
                <div class="col-xs-6 col-sm-6 col-md-4">
                        <div style="width:30%; margin-left:3%; float:left;">
                            <img id="my_image  @Model.Id" src="@Url.Content("http://e-moneyexpress.apphb.com/" +  @Model.Image + "?" + ViewBag.d)" width="200" height="200" style="background-color:white;" accept="image/*" />
                        </div>
                   
                </div>
            </div>
        </div>
    </div>
    <br />
</section>


<div class="container" id="dvContents">
    <div class="row">

        <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="receipt-header">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="receipt-left">
                            <img class="img-responsive" alt="Emoney Express" src="~/Content/logo.png" style="width: 200px;">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <div class="receipt-right">
                            <br /><br />
                            <h5>E-money Expresss</h5>
                            <p>+91 12345-6789 <i class="fa fa-phone"></i></p>
                            <p>info@gmail.com <i class="fa fa-envelope-o"></i></p>
                            <p>Australia <i class="fa fa-location-arrow"></i></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="receipt-header receipt-header-mid">
                    <div class="col-xs-6 col-sm-6 col-md-6 ">
                        <div class="receipt-right ">
                            <h3 style="color: #00AEEF !important;">Transaction Details</h3>
                            <h4>Reference Number: @Model.ReferenceNumber</h4>
                            <p><b>Date:</b> @Model.Date.ToShortDateString()</p>
                            <p><b>Company Name:</b> @Model.CompanyName</p>
                            <p><b>Type :</b> @Model.Type</p>
                            <p><b>Amount :</b> @Model.Amount</p>
                            <p><b>Fee :</b> @Model.Fee</p>
                            @{
                                double sum1 = 0.0;
                                sum1 = sum1 + Model.Amount + Model.Fee;
                            }
                            <p><b>Total : </b> @sum1</p>
                            @*<p><img id="my_image  @Model.Id" src="@Url.Content("http://e-moneyexpress.apphb.com//" +  @Model.Image + "?" + ViewBag.d)" width="200" height="200" style="background-color:white;" accept="image/*" />*@

                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="receipt-left">
                            <h3 style="color: #00AEEF !important;">Customer Information</h3>
                            <h4>@ViewBag.c.FirstName @ViewBag.c.LastName1 @ViewBag.c.LastName2</h4>
                            <p><b>Date of Birth :</b> @ViewBag.c.DOB.ToShortDateString()</p>
                            <p><b>Social Security Number :</b> @ViewBag.c.SocialSecurityNumber</p>
                            <p><b>Customer Number :</b> @ViewBag.c.IdNumber</p>
                            <p><b>State :</b> @ViewBag.c.State</p>
                            <p><b>Expiry Date :</b> @ViewBag.c.ExpiryDate.ToShortDateString()</p>
                            <p><b>Phone :</b> @ViewBag.c.Phone</p>
                            <p><b>Address :</b> @ViewBag.c.Address</p>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="receipt-main col-xs-10 col-sm-10 col-md-9">
                    <br />
                            <img id="my_image  @Model.Id" src="@Url.Content("http://e-moneyexpress.apphb.com//" +  @Model.Image + "?" + ViewBag.d)" width="200" height="200" style="background-color:white;" accept="image/*" />
                        </div>
                </div>
            </div>*@
            <div class="row" style="margin-top:450px; border-top:2px solid black; bottom:0;">
                <div class="receipt-header receipt-header-mid receipt-footer">
                    <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                        <div class="receipt-right">
                            <p><b>Date :</b> @DateTime.Now.ToString("dd/MM/yyyy")</p>
                            <h4 style="color: rgb(140, 140, 140);">Thank you for your business!</h4>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="receipt-left">
                            <h1></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


<script>

    $(document).ready(function () {
        $('#dvContents').hide();
    });

    $(function () {
        $("#btnPrint").click(function () {
            var contents = $("#dvContents").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute", "top": "-1000000px" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title>E-money Express</title>');
            frameDoc.document.write('<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />');
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);
        });
    });
    </script>