﻿@{
    ViewBag.Title = "Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<E_MoneyExpress.Models.Item>
@using E_MoneyExpress.Models

<!-- Slickgrid -->
<link rel="stylesheet" href="~/Content/Assets/wizard.css" type="text/css" />
<link rel="stylesheet" href="~/Content/Assets/slick.grid.css" type="text/css" />
<link rel="stylesheet" href="~/Content/Assets/jquery-ui-1.10.2.custom.min.css" type="text/css" />
<link rel="stylesheet" href="~/Content/Assets/slick_default_theme.css" type="text/css" />
<link rel="stylesheet" href="~/Content/Assets/table.css">
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<script src="~/Content/Assets/jquery-ui-1.10.2.custom.min.js"></script>
<script src="~/Content/Assets/jquery.event.drag-2.0.min.js"></script>
<script src="~/Content/Assets/slick.core.js"></script>
<script src="~/Content/Assets/slick.grid.js"></script>
<script src="~/Content/Assets/jquery.watermark.min.js"></script>
<script src="~/Content/Assets/jquery.iframe-post-form.js"></script>
<script src="~/Content/Assets/jquery.showLoading.js"></script>
<script src="~/Content/Assets/jquery.inputmask.js"></script>
<script src="~/Content/Assets/jquery.formatCurrency-1.4.0.min.js"></script>
<script src="~/Content/Assets/si.files.js"></script>

<style type="text/css" title="text/css">
    body {
        margin-top: 40px;
    }

    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 50%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>
<section>
    <br>
    <div class="container-fluid">

        <div class="stepwizard col-md-offset-2">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled">1</a>
                    <p>Step 1</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#" type="button" class="btn btn-primary btn-circle" disabled="disabled">2</a>
                    <p>Step 2</p>
                </div>
            </div>
        </div>

        <div id="step2Trans" class="formSection" style="margin: 0px auto;margin-top:10px">
            <form name="saveTransaction" id="saveTransaction" action="@Url.Action("SaveTransaction", "Home")" method="post" enctype="multipart/form-data">
                <input type="hidden" name="Customer_Id" id="cust_id" value="@ViewBag.customer.Id" />
                <input type="hidden" name="Openning_Id" value="@ViewBag.openning.Id" />
                <input type="hidden" name="Conversion_Id" value="@ViewBag.conversion.Id" />
                <input type="hidden" name="FileNumber" value="@ViewBag.filenumber" />

                <h4>Enter Transaction Details</h4><br />
                <div class="formTinyLeft">
                    <p>Date<br /><input type="date" name="Date" id="birth_date" style="width:160px;" class="form-control" placeholder="MM/DD/YYYY" required /></p>
                </div>
                <div class="formTinyLeft">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;File Number<br /><span id="tranId" class="formReadonlyText">&nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.filenumber</span></p>
                </div>
                <div class="formTinyLeft">
                    <p>Customer Name<br /><span id="custId" class="formReadonlyText">@ViewBag.customer.FirstName @ViewBag.customer.LastName1</span></p>
                </div>
                <div class="formLeft">
                    <p>Browse Receipt<br /><input style="width:120px;" type="file" id="file" name="file" required /></p>
                </div>
                <div style="clear:both;"></div>
                <div class="row">
                    <br />
                    <div class="col-md-4">
                        <p>
                            Store ID<span class="mandatory">*</span><br /> 
                            <input type="hidden" name="storid" value="@ViewBag.store.Id" />
                             <input type="text" name="store" value="@ViewBag.store.Name" readonly />
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            Name<span class="mandatory">*</span><br />
                            <select name="CompanyName" id="tx_name" required>
                                <option value="">-Select-</option>
                                @foreach(Item item in Model.ToList())
                                {
                                    <option value="@item.Name">@item.Name</option>
                                }
                                <option value="OTHER">OTHER</option>
                            </select>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>Ref#<span class="mandatory">*</span><br /><input type="text" name="ReferenceNumber" value="" required /></p>

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            Type<span class="mandatory">*</span><br />
                            <select name="Type" id="tx_type" required>
                                <option value="">-Select-</option>
                                <option value="SEND">SEND</option>
                                <option value="RECEIVED">RECEIVED</option>
                                <option value="MONEY ORDER">MONEY ORDER</option>
                                <option value="BILL PAYMENT">BILL PAYMENT</option>
                                <option value="CHECK CASHING">CHECK CASHING</option>
                                <option value="CASH OUT">CASH OUT</option>
                                <option value="OTHER">OTHER</option>
                            </select>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>Amount($)<span class="mandatory">*</span><br /><input type="text" name="Amount" id="tx_amt" value="" required /> </p>

                    </div>
                    <div class="col-md-4">
                        <p>Fee($)<span class="mandatory">*</span><br /><input type="text" name="Fee" id="tx_fee" value="" required /> </p>

                    </div>
                </div>
                <div class="formLeft">
                    
                </div>
                <div class="formLeft">
                    
                </div>
                <div class="formLeft">
                </div>
                <div style="clear:both;"></div>
                <div class="formLeft">
                    
                </div>
                <div class="formLeft">
                </div>
                <div class="formLeft">
                </div>
                <div style="clear:both;"></div>
                <div>
                    <div class="divLeft">
                        <button type="submit" class="button medium green centerButton"><span>Submit Transaction</span></button>
                    </div>
                    @*<div class="divLeft">
                        <a href="@Url.Action("FindCustomer", "Home")" class="button medium green centerButton"><span>Back</span></a>
                    </div>*@
                    <div class="divLeft" style="margin-left:355px;padding-top:20px;">
                        <span class="formReadonlyText">Total($):&nbsp;<span id="totalAmount">0.00</span></span>
                        <input type="hidden" name="tx_total" id="tx_total" value="" />
                    </div>
                </div>
                <div style="clear:both;"></div>
            </form>
        </div>
    </div>
    <script>
        SI.Files.stylizeAll();

        var grid;

        function formatter(row, cell, value, columnDef, dataContext) {
            return value;
        }

        var columns = [
            { id: "select", name: "Select", field: "select", width: 20, formatter: formatter },
            { id: "fname", name: "First Name", field: "fname" },
            { id: "lname", name: "Last Name1", field: "lname1" },
            { id: "lname", name: "Last Name2", field: "lname2" },
            { id: "idtype", name: "ID Type", field: "idtype" },
            { id: "idno", name: "ID#", field: "idno" },
            { id: "exp", name: "Exp Date", field: "exp" },
            { id: "action", name: "Action", field: "action", formatter: formatter }
        ];

        var options = {
            enableCellNavigation: true,
            enableColumnReorder: false,
            forceFitColumns: true
        };

        $(function () {
            var data = [];
            data[0] = {
                select: "<input type='radio' name='custRadio' value='5909' />",
                fname: "GLORIA ANDREA",
                lname1: "PEREZ",
                lname2: "VALADEZ",
                idtype: "Drivers License",
                idno: "F5412099",
                exp: "11/30/2021",
                action: '<a href="javascript:void(0);" onclick="editCustomer(5909);">Edit</a>&nbsp;<a href="javascript:void(0);" onclick="showReport(5909);">Report</a>'
            };
            data[1] = {
                select: "<input type='radio' name='custRadio' value='5908' />",
                fname: "DAVID EMILE",
                lname1: "HOLLOWAY",
                lname2: "",
                idtype: "Drivers License",
                idno: "A2180789",
                exp: "11/26/2019",
                action: '<a href="javascript:void(0);" onclick="editCustomer(5908);">Edit</a>&nbsp;<a href="javascript:void(0);" onclick="showReport(5908);">Report</a>'
            };
            data[2] = {
                select: "<input type='radio' name='custRadio' value='5907' />",
                fname: "MARTIN JOSE",
                lname1: "GUTIERREZ",
                lname2: "",
                idtype: "Drivers License",
                idno: "E3693618",
                exp: "12/15/2019",
                action: '<a href="javascript:void(0);" onclick="editCustomer(5907);">Edit</a>&nbsp;<a href="javascript:void(0);" onclick="showReport(5907);">Report</a>'
            };
            data[3] = {
                select: "<input type='radio' name='custRadio' value='5906' />",
                fname: "MICHEL M",
                lname1: "BENAMAR",
                lname2: "",
                idtype: "Drivers License",
                idno: "1801851376",
                exp: "10/07/2018",
                action: '<a href="javascript:void(0);" onclick="editCustomer(5906);">Edit</a>&nbsp;<a href="javascript:void(0);" onclick="showReport(5906);">Report</a>'
            };
            data[4] = {
                select: "<input type='radio' name='custRadio' value='5905' />",
                fname: "ESMERALDA MARILU",
                lname1: "TAY",
                lname2: "PICHIYA",
                idtype: "Consulate ID Card",
                idno: "1164563911",
                exp: "01/05/2018",
                action: '<a href="javascript:void(0);" onclick="editCustomer(5905);">Edit</a>&nbsp;<a href="javascript:void(0);" onclick="showReport(5905);">Report</a>'
            };
            data[5] = {
                select: "<input type='radio' name='custRadio' value='5904' />",
                fname: "MARIA GUDALUPE",
                lname1: "GUTIERREZ",
                lname2: "VILLALOBOS",
                idtype: "Drivers License",
                idno: "C5053240",
                exp: "08/22/1967",
                action: '<a href="javascript:void(0);" onclick="editCustomer(5904);">Edit</a>&nbsp;<a href="javascript:void(0);" onclick="showReport(5904);">Report</a>'
            };
            data[6] = {
                select: "<input type='radio' name='custRadio' value='5903' />",
                fname: "JOSE ARNOLDO",
                lname1: "MINERO",
                lname2: "PENA",
                idtype: "Drivers License",
                idno: "D2637614",
                exp: "06/19/2019",
                action: '<a href="javascript:void(0);" onclick="editCustomer(5903);">Edit</a>&nbsp;<a href="javascript:void(0);" onclick="showReport(5903);">Report</a>'
            };
            data[7] = {
                select: "<input type='radio' name='custRadio' value='5902' />",
                fname: "GUADALUPE",
                lname1: "HERNANDEZ",
                lname2: "CHAVARRIA",
                idtype: "Drivers License",
                idno: "F8436918",
                exp: "10/19/2019",
                action: '<a href="javascript:void(0);" onclick="editCustomer(5902);">Edit</a>&nbsp;<a href="javascript:void(0);" onclick="showReport(5902);">Report</a>'
            };
            data[8] = {
                select: "<input type='radio' name='custRadio' value='5901' />",
                fname: "FEDERICO",
                lname1: "DI NINNI",
                lname2: "",
                idtype: "Drivers License",
                idno: "Y3756067",
                exp: "06/04/2020",
                action: '<a href="javascript:void(0);" onclick="editCustomer(5901);">Edit</a>&nbsp;<a href="javascript:void(0);" onclick="showReport(5901);">Report</a>'
            };
            data[9] = {
                select: "<input type='radio' name='custRadio' value='5900' />",
                fname: "EUSEVIO",
                lname1: "VILLASANA",
                lname2: "DOROTEO",
                idtype: "Consulate ID Card",
                idno: "9897736",
                exp: "03/08/2018",
                action: '<a href="javascript:void(0);" onclick="editCustomer(5900);">Edit</a>&nbsp;<a href="javascript:void(0);" onclick="showReport(5900);">Report</a>'
            };
            grid = new Slick.Grid("#myGrid", data, columns, options);
            $('.currencyLabel').formatCurrency({ symbol: '' });
        })
        $('#tx_amt, #tx_fee').live('keyup', function () {
            var total = 0;
            if ($('#tx_amt').val() != '')
                total += customFloat($('#tx_amt').val())
            if ($('#tx_fee').val() != '')
                total += customFloat($('#tx_fee').val());
            total = total.toFixed(2);
            $('#tx_total').val(total);
            $('#totalAmount').text(total);
            $('#totalAmount').formatCurrency({ symbol: '' });
        });
        $('#tx_amt, #tx_fee').live('blur', function () {
            if ($(this).val() != '')
                $(this).val(customFloat($(this).val()).toFixed(2));
            $('#tx_amt, #tx_fee').formatCurrency({ symbol: '' });
        });
        $(function () {
            $("#fname,#lname,#identity_exp,#birth_date").watermark();
            $("#fname,#lname,#identity_exp,#birth_date").click(function () {
                $(this)[0].focus();
            });
            $("#birth_date").datepicker({ changeMonth: true, changeYear: true, yearRange: "-100:+0" });
            $("#identity_exp").datepicker({ changeMonth: true, changeYear: true, yearRange: "-10:+30" });
            $("#ssn_id").inputmask({ "mask": "999-99-9999" });
            $("#phone1, #phone2, #emp_phone").inputmask({ "mask": "(999) 999-9999" });
        });
        function showTransaction() {
            if ($("#step1Search").is(":visible")) {
                if (!$("input[name='custRadio']:checked").val()) {
                    alert('Please select a customer');
                    return false;
                } else {
                    $('#custId').text($("input[name='custRadio']:checked").val());
                }
            }
            $('#step1Search,#step1Customer').hide();
            $('#step2Trans').show().showLoading();
            $('#stepHead1').removeClass('current');
            $('#stepHead2').addClass('current');
            $.get('/dashboard/nextnumber', function (data) {
                $('#tranId').text(data);
                $('#saveTransaction #id').val(data)
                $('#step2Trans').hideLoading();
            });
        }
        function saveCustomer() {
            if (validAddCustomer()) {
                return false;
            }
            $('#addCustomerForm').submit();
            /*$.post('/dashboard/addcustomer', $("#addCustomerForm").serialize(), function(data) {
                var jsn = $.parseJSON(data);
                if (jsn.response == 'success') {
                    $('#custId').text(jsn.id);
                    showTransaction()
                }
            });*/
        }
        function addCustomer() {
            $('#step1Search').hide();
            $('#custReportLink').hide();
            clear_form_elements('#addCustomerForm');
            $('#addCustomerForm #imgPreview').attr('src', '/images/noimage.jpg');
            $('#addCustomerForm #imgPreview').parent().removeClass('fancybox');
            $('#addCustomerForm #imgPreview').parent().attr('href', '#'); $('#step1Customer').show();

            $('#addCustHeading').text('Add New Customer');
            $('#addCustomerButton').text('Add Customer');
            $('#addCustomerForm #id').val('');
        }
        function gotoStep1() {
            $('#err_div').hide();
            $('#step2Trans,#step1Customer').hide();
            $('#step1Search').show();
            $('#stepHead2').removeClass('current');
            $('#stepHead1').addClass('current');
        }
        function submitTransaction() {
            if (validTransaction()) {
                return false;
            }
            $('#id').val($('#tranId').text());
            $('#cust_id').val($('#custId').text());
            $('#step2Trans').showLoading();
            $("#saveTransaction").submit();
            /*$.post('/dashboard/savetransaction', $("#saveTransaction").serialize(), function(data) {
                var jsn = $.parseJSON(data);
                if (jsn.response == 'success') {
                    //$('#step2Trans').hideLoading();
                    location.href = '/dashboard/customer';
                }
            });*/
        }

        $(function () {
            $('#addCustomerForm').iframePostForm
                ({
                    json: true,
                    post: function () {
                        $('#step1Customer').showLoading();
                    },
                    complete: function (data) {
                        //console.log(data);
                        if (data.response == 'success') {
                            if ($('#addCustomerForm #id').val() == '') {
                                $('#custId').text(data.id);
                                $('#step1Customer').hideLoading();
                                showAddUserMsg();
                                showTransaction();
                            } else {
                                location.href = '/dashboard/customer';
                            }
                        }
                    }
                });
            $('#saveTransaction').iframePostForm
                ({
                    json: true,
                    post: function () {
                    },
                    complete: function (data) {
                        //console.log(data);
                        if (data.response == 'success') {
                            location.href = '/dashboard/customer';
                        }
                    }
                });
            $('a.fancybox').fancybox({
                'transitionIn': 'fade'
            });
        });
        function showAddUserMsg() {
            $('#err_div').show();
            $('#err_div div').addClass('success');
            $('#err_div img').attr('src', '/images/notify/icon_success.png');
            $('#err_div p').append('Customer added successfully');
        }
        function searchCustomer() {
            $('#myGrid').showLoading();
            $('#custListHeading').html('Search Results');
            $.post('/dashboard/searchcustomer', $("#searchForm").serialize(), function (data) {
                var jsn = $.parseJSON(data);
                var newData = [];
                var cnt = 0;
                $.each(jsn.data, function (eachKey, eachVal) {
                    newData[cnt] = {
                        select: "<input type='radio' name='custRadio' value='" + eachVal.ID + "' />",
                        fname: eachVal.FIRSTNAME,
                        lname1: eachVal.LASTNAME1,
                        lname2: eachVal.LASTNAME2,
                        idtype: eachVal.IDENTITY_TYPE,
                        idno: eachVal.IDENTITY_ID,
                        exp: eachVal.IDENTITY_EXP,
                        action: '<a href="javascript:void(0);" onclick="editCustomer(' + eachVal.ID + ');">Edit</a>&nbsp;<a href="javascript:void(0);" onclick="showReport(' + eachVal.ID + ');">Report</a>'
                    };
                    cnt++;
                });
                grid.setData(newData);
                grid.render();
                $('.currencyLabel').formatCurrency({ symbol: '' });
                $('#myGrid').hideLoading();
            });
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgPreview')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        function viewCustomer() {

        }
        function editCustomer(custid) {
            $('#step1Search').hide();
            $('#step1Customer').show();
            $('#step1Customer').showLoading();
            $('#addCustHeading').text('Edit Customer');
            $('#addCustomerButton').text('Update Customer');
            $('#custReportLink').show();
            $.post('/dashboard/getcustomer', { 'id': custid }, function (data) {
                var jsn = $.parseJSON(data);
                $('#addCustomerForm #id').val(jsn.ID);
                $('#addCustomerForm #firstname').val(jsn.FIRSTNAME);
                $('#addCustomerForm #lastname1').val(jsn.LASTNAME1);
                $('#addCustomerForm #lastname2').val(jsn.LASTNAME2);
                $('#addCustomerForm #birth_date').val($.datepicker.formatDate("mm/dd/yy", $.datepicker.parseDate("yy-mm-dd", jsn.BIRTH_DATE)));
                $('#addCustomerForm #ssn_id').val(jsn.SSN_ID);
                if (jsn.IMAGE_PATH != '') {
                    $('#addCustomerForm #imgPreview').attr('src', '/' + jsn.IMAGE_PATH);
                    $('#addCustomerForm #imgPreview').parent().addClass('fancybox');
                    $('#addCustomerForm #imgPreview').parent().attr('href', '/' + jsn.IMAGE_PATH);
                } else {
                    $('#addCustomerForm #imgPreview').attr('src', '/images/noimage.jpg');
                    $('#addCustomerForm #imgPreview').parent().removeClass('fancybox');
                    $('#addCustomerForm #imgPreview').parent().attr('href', '#');
                }
                $(':radio[value="' + jsn.IDENTITY_TYPE + '"]').attr('checked', true);
                $('#addCustomerForm #identity_id').val(jsn.IDENTITY_ID);
                $('#addCustomerForm #identity_issue_state').val(jsn.IDENTITY_ISSUE_STATE);
                $('#addCustomerForm #identity_exp').val($.datepicker.formatDate("mm/dd/yy", $.datepicker.parseDate("yy-mm-dd", jsn.IDENTITY_EXP)));
                $('#addCustomerForm #phone1').val(jsn.PHONE1);
                $('#addCustomerForm #phone2').val(jsn.PHONE2);
                $('#addCustomerForm #address').val(jsn.ADDRESS);
                $('#addCustomerForm #emp_name').val(jsn.EMP_NAME);
                $('#addCustomerForm #emp_address').val(jsn.EMP_ADDRESS);
                $('#addCustomerForm #emp_phone').val(jsn.EMP_PHONE);
                $('#addCustomerForm #notes').val(jsn.NOTES);
                $('#step1Customer').hideLoading();
            });
        }
        function clear_form_elements(ele) {

            $(ele).find(':input').each(function () {
                switch (this.type) {
                    case 'password':
                    case 'select-multiple':
                    case 'select-one':
                    case 'text':
                    case 'textarea':
                    case 'file':
                        $(this).val('');
                        break;
                    case 'checkbox':
                    case 'radio':
                        this.checked = false;
                }
            });
        }
        var detailGrid;
        var detailColumns = [
            { id: "date", name: "Date", field: "date", width: 80 },
            { id: "store", name: "Store", field: "store" },
            { id: "ref", name: "Ref#", field: "ref" },
            { id: "cname", name: "Company Name", field: "cname" },
            { id: "type", name: "Type", field: "type" },
            { id: "amount", name: "Amount", field: "amount", cssClass: "column-amount-right currencyLabel", width: 50 },
            { id: "fee", name: "Fee", field: "fee", cssClass: "column-amount-right currencyLabel", width: 50 },
            { id: "total", name: "Total", field: "total", cssClass: "column-amount-right currencyLabel", width: 50 },
            { id: "receipt", name: "Receipt", field: "receipt", cssClass: "column-content-center", width: 100, formatter: formatter }
        ];

        $(function () {
            var detailData = [];
            detailGrid = new Slick.Grid("#detailGrid", detailData, detailColumns, options);
            $('.currencyLabel').formatCurrency({ symbol: '' });
        })

        $("#customerReportDiv").dialog({
            height: 350,
            width: 900,
            modal: true,
            resizable: false,
            autoOpen: false,
            buttons: {
                "Compliance Reports": function () {
                    window.open('https://pcs.vterm.com/pcs/login.jsp ', '_blank');
                },
                "Close": function () {
                    $(this).dialog("close");
                }
            }
        });

        function showReport(custId) {
            $("#customerReportDiv").dialog("open");
            $("#customerReportDiv").showLoading();
            getCustomerReport(custId);
        }
        function showReportLink() {
            var custId = $('#addCustomerForm #id').val();
            if (custId != '') {
                showReport(custId);
            }
        }
        function getCustomerReport(custId) {
            $.post('/dashboard/customertransactions', { id: custId }, function (data) {
                var jsn = $.parseJSON(data);
                var newData = [];
                var cnt = 0;
                $('#customerName').text(jsn.cust_name);
                $('#customerID').text(jsn.cust_id);
                $('#numTran').text(jsn.tran_num);
                $('#totalTran').text(jsn.tran_total);
                $.each(jsn.tranDetail, function (eachKey, eachVal) {
                    newData[cnt] = {
                        date: eachVal.TX_DT,
                        store: eachVal.STORE_NAME,
                        ref: eachVal.TX_REF,
                        cname: eachVal.TX_NAME,
                        type: eachVal.TX_TYPE_NAME,
                        amount: eachVal.TX_AMT,
                        fee: eachVal.TX_FEE,
                        total: eachVal.TX_TOTAL,
                        receipt: (eachVal.CANCELED != '0') ? 'Canceled' : (((eachVal.IMAGE_PATH == null) ? '<span class="optionSpan">&nbsp;</span>' : '<span class="optionSpan"><a class="fancybox" href="/' + eachVal.IMAGE_PATH + '"><img src="/images/receipt_icon.gif" /></a></span>') + '<span class="optionSpan"><label class="cabinet"><input type="file" class="file" name="file" id="' + eachVal.ID + '" /></label></span><span class="optionSpan"><a href="javascript:void(0);" onclick="cancelTransaction(' + eachVal.ID + ')"><img src="/images/recyclebin_icon.png" /></a></span>')
                    };
                    cnt++;
                });
                detailGrid.setData(newData);
                detailGrid.render();
                $('.currencyLabel').formatCurrency({ symbol: '' });
                $('#customerReportDiv').hideLoading();
                SI.Files.stylizeAll();
            });
        }
        $('label.cabinet .file').live('change', function () {
            var tid = $(this).attr('id');
            $('#customerReportForm input[type=file]:not(#' + tid + ')').remove();
            $('#tran_id').val(tid);
            $('#customerReportForm').attr('action', '/dashboard/updatetransaction');
            $('#customerReportForm').submit();
        });
        $(function () {
            loadReportPostForm()
        });
        function loadReportPostForm() {
            $('#customerReportForm').iframePostForm
                ({
                    json: true,
                    post: function () {
                        $("#customerReportDiv").showLoading();
                    },
                    complete: function (data) {
                        //console.log(data);
                        if (data.response == 'success') {
                            $("#customerReportDiv").hideLoading();
                            getCustomerReport($('#customerID').text());
                        }
                    }
                });
        }
        function cancelTransaction(tid) {
            var cnf = confirm('Are you sure want to cancel this transcation?');
            if (cnf) {
                $('#customerReportForm input[type=file]').remove();
                $('#tran_id').val(tid);
                $('#customerReportForm').attr('action', '/dashboard/updatetransaction/act/cancel');
                $('#customerReportForm').submit();
            }
        }
        function customFloat(v) {
            return parseFloat(v.replace(/\,/g, ''));
        }
    </script>
</section>
